{% extends "template.html" %}

{% block title %}{{ config.title }} - Kategorien{% endblock %}

{% block description %}
    <meta name="description" content="Blog-Kategorien von Tierheilpraktiker JessICan - natürlich gesund!">
{% endblock description %}

{% block header %}
  <header class="masthead" style="background-image: url('{{ get_url(path="/img/home-bg.png")}}');background-size:100%;">
    <div class="overlay">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Meine Blog-Kategorien</h1>
            <span class="subheading">Lesen Sie Artikel zu den aktuellsten Themen!</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            <ul>
                {% for category in terms %}
                <li><a href="{{ category.permalink }}" title="Kategorie Name">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}