{% extends "blog.html" %}

{% block title %}{{ config.title }} - Artikel Kategorie: {{ term.name }}{% endblock %}

{% block description %}
    <meta name="description" content="Blog Thema {{ term.name }} von Tierheilpraktiker JessICan - natürlich gesund!">
{% endblock description %}

{% block header %}
  <header class="masthead" style="background-image: url('{{ get_url(path="/img/home-bg_large.jpeg")}}');background-size:100%;">
    <div class="overlay">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Spannendes aus meinem Blog zum Thema {{ term.name }}</h1>
            <span class="subheading">Lesen Sie Artikel zu den aktuellsten Themen!</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}