{% extends "template.html" %}
{% block title %}Über mich - {{ config.title }}{% endblock title %}
{% block description %}
    <meta name="description" content="Über mich von Tierheilpraktiker JessICan: Akupunktur, Homöopathie, Phytotherapie, Manuelle Therapie, Aromatherapie & Ernährungsberatung für Hund & Pferd">
{% endblock description %}
{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/about.jpg")}}')">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Das bin ich - Jessica von JessICan!</h1>
          <span class="subheading">Und das ist was ich mache.</span>
          
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      {{ page.content | safe }}
    </div>
  </div>
</div>
{% endblock content %}