{% extends "template.html" %}
{% block title %}Behandlung - {{ config.title }}{% endblock title %}
{% block description %}
<meta name="description" content="Behandlungsmethoden Akupunktur, Homöopathie, Phytotherapie, Manuelle Therapie, Aromatherapie & Ernährungsberatung für Hund & Pferd">
{% endblock description %}
{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/about-bg_large.jpeg")}}')">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Meine Methoden im Überblick</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      <h2>Akupunktur / Laserakupunktur</h2>
      <p>Die <strong>Akupunktur</strong> und <strong>Laserakupunktur</strong> sind bewährte Heilmethoden aus der Traditionell Chinesischen Medizin (TCM), die das körpereigene Energiesystem stimulieren und das Wohlbefinden Ihres Tieres fördern. Durch gezieltes Setzen von Nadeln oder Laserlicht an bestimmten <em>Akupunkturpunkten</em> werden Energieblockaden gelöst, die Durchblutung gefördert und die Selbstheilungskräfte Ihres Tieres aktiviert. Beide Methoden sind für eine Vielzahl von Beschwerden geeignet, wie zum Beispiel Schmerzen, Entzündungen oder Störungen im Bewegungsapparat.</p>
      <h2>Homöopathie</h2>
      <p>Die <strong>Homöopathie</strong> ist eine ganzheitliche und natürliche Heilmethode, die auf dem Prinzip "Ähnliches heilt Ähnliches" basiert. Durch die sorgfältige Auswahl von individuell passenden <em>homöopathischen Mitteln</em> aus dem Repertorium wird der Organismus Ihres Tieres angeregt, sich selbst zu heilen und das Gleichgewicht wiederherzustellen. Dabei werden sowohl körperliche als auch emotionale und Verhaltensaspekte berücksichtigt. Die Homöopathie eignet sich für eine Vielzahl von Beschwerden und Erkrankungen, wie zum Beispiel Hautprobleme, Allergien, Verdauungsstörungen, Atemwegserkrankungen oder Verhaltensauffälligkeiten. Die Auswahl des passenden Mittels ist genau auf die vorliegende Symptomatik durch sogenannte Repertorisation Ihres Tieres abgestimmt, um optimale Ergebnisse zu erzielen und Nebenwirkungen zu minimieren.</p>
      <h2>Phytotherapie</h2>
      <p>Die <strong>Phytotherapie</strong> ist die Anwendung von <em>Heilpflanzen</em> zur Behandlung von gesundheitlichen Beschwerden bei Tieren. Durch die gezielte Kombination verschiedener Pflanzenextrakte, die auf die individuellen Bedürfnisse Ihres Tieres abgestimmt sind, wird die Therapie effektiv unterstützt. Die Phytotherapie eignet sich für eine Vielzahl von Erkrankungen, wie zum Beispiel Atemwegserkrankungen, Verdauungsprobleme oder Stoffwechselstörungen.</p>
      <h2>Manuelle Therapie</h2>
      <p>Die <strong>Manuelle Therapie</strong> beinhaltet verschiedene Techniken wie <em>Massage</em>, <em>Mobilisation</em> und <em>Dehnung</em>, um Verspannungen zu lösen, die Beweglichkeit zu verbessern und Schmerzen bei Ihrem Tier zu lindern. Dies trägt zu einer besseren Lebensqualität und gesteigerten Vitalität bei. Manuelle Therapie kann bei zahlreichen Beschwerden wie Gelenk- und Muskelschmerzen, Arthrose oder Erkrankungen des Bewegungsapparates helfen.</p>
      <h2>Aromatherapie</h2>
      <p><strong>Ätherische Öle</strong> sind konzentrierte Pflanzenextrakte, die eine Vielzahl von therapeutischen Eigenschaften besitzen. Durch die gezielte Anwendung von <em>ätherischen Ölen</em> können sie das emotionale und physische Wohlbefinden Ihres Tieres unterstützen. Ätherische Öle können zum Beispiel bei Hautproblemen, Atemwegserkrankungen oder zur Entspannung und Stressreduktion eingesetzt werden.</p>
      <h2>Ernährungsberatung</h2>
      <p>Eine artgerechte und ausgewogene Ernährung ist entscheidend für die Gesundheit und das Wohlbefinden von Tieren. Durch individuelle <strong>Ernährungsberatung</strong> und -planung wird der Grundstein für eine optimale Versorgung Ihres Tieres mit Nährstoffen und Vitalstoffen gelegt. Eine maßgeschneiderte Ernährungsberatung hilft dabei, Futterunverträglichkeiten, Allergien oder ernährungsbedingte Erkrankungen zu erkennen und zu behandeln.</p>
    </div>
  </div>

<!-- 
<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Akupunktur / Laserakupunktur</h2>
      <p class="lead">Die <strong>Akupunktur</strong> und <strong>Laserakupunktur</strong> sind...</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto rounded" style="width: 500px; height: 500px;" src="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_768.jpeg">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Homöopathie</h2>
      <p class="lead">Die <strong>Homöopathie</strong> ist eine ganzheitliche und...</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto rounded" style="width: 500px; height: 500px;" src="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_768.jpeg">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Phytotherapie</h2>
      <p class="lead">Die <strong>Phytotherapie</strong> ist die Anwendung von...</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto rounded" style="width: 500px; height: 500px;" src="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_768.jpeg">
    </div>
  </div></div>
-->
  <!-- Fügen Sie weitere Abschnitte wie oben hinzu -->

<!-- /.container -->

{% endblock content %}