{% extends "template.html" %}
{% block title %}Meine Leistungen - {{ config.title }}{% endblock title %}
{% block description %}
<meta name="description" content="Leistungen als Tierheilpraktiker, Phytotherapie, Manuelle Therapie, Aromatherapie & Ernährungsberatung für Hund & Pferd">
{% endblock description %}
{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/behandlung_2_1024.jpeg")}}')">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Meine Leistungen im Überblick</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<hr class="featurette-divider">
 <!-- Einleitungstext -->
<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading">Ein kleiner Überblick über meine Vorgehensweise</h2>
      <p class="lead"> Als <em>Tierheilpraktiker für Hund</em> und <em>Tierheilpraktiker für Pferd</em> ist es mein Ziel, Ihren vierbeinigen Freund mit einer ganzheitlichen und individuell abgestimmten Behandlung zu unterstützen. Der Prozess beginnt mit einer sorgfältigen der Anamnese, sowie der Beobachtung und Untersuchung Ihres Tieres in seiner vertrauten Umgebung. Basierend auf den gewonnenen Erkenntnissen entwickle ich ein maßgeschneidertes Behandlungskonzept, das die nachfolgend vorgestellten Therapieformen kombinieren kann. Hier stelle ich Ihnen die verschiedenen Methoden vor, die ich anwende, um das Wohlergehen Ihres Tieres zu verbessern. Jede Behandlung ist einzigartig und wird speziell auf die Bedürfnisse Ihres Tieres zugeschnitten, um optimale Ergebnisse zu erzielen.</p>
    </div>
  </div>
</div>

<!-- Methoden -->
<div class="container marketing">
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Akupunktur</h2>
      <p class="lead"> Die <strong>Akupunktur</strong> ist eine bewährte Heilmethode aus der Traditionell Chinesischen Medizin (TCM), die das körpereigene Energiesystem stimuliert und das Wohlbefinden Ihres Tieres fördert. Durch gezieltes Setzen von Nadeln an bestimmten Akupunkturpunkten werden Energieblockaden gelöst, die Durchblutung verbessert und die Selbstheilungskräfte von Hund oder Pferd aktiviert. Die Akupunktur ist eine sanfte und nahezu schmerzfreie Methode, die sich für eine Vielzahl von Beschwerden eignet, einschließlich Schmerzen, Entzündungen oder Störungen im Bewegungsapparat. Die Vorteile der Akupunktur sind vielfältig und reichen von einer verbesserten Immunität bis hin zu einer gesteigerten Lebensqualität und Vitalität Ihres Tieres.     
      </div>
    <div class="col-md-5">
      <picture>
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_320.avif 320w" type="image/avif" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_320.webp 320w" type="image/webp" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_320.jpeg 320w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_640.avif 640w" type="image/avif" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_640.webp 640w" type="image/webp" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_640.jpeg 640w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_768.avif 768w" type="image/avif" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_768.webp 768w" type="image/webp" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_768.jpeg 768w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1024.avif 1024w" type="image/avif" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1024.webp 1024w" type="image/webp" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1024.jpeg 1024w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1366.avif 1366w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1366.webp 1366w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1366.jpeg 1366w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1600.avif 1600w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1600.webp 1600w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1600.jpeg 1600w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1920.avif 1920w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1920.webp 1920w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1920.jpeg 1920w" type="image/jpeg" sizes="100vw">
        <img src="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1920.jpeg" alt="Tierheilpraktiker bei der Akupunktur" title="Tierheilpraktiker bei der Akupunktur" loading="lazy" sizes="100vw"  class="featurette-image img-fluid mx-auto rounded-img" style="aspect-ratio: 1/1; object-fit: cover;">
      </picture>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Laserakupunktur</h2>
      <p class="lead">Die <strong>Laserakupunktur</strong> ist eine moderne Variante der traditionellen Akupunktur, bei der anstelle von Nadeln ein spezifischer Laserstrahl verwendet wird, um die Akupunkturpunkte zu stimulieren. Die Laserakupunktur ist vollkommen nicht-invasiv und schmerzfrei, was sie besonders geeignet für Tiere macht, die Angst vor Nadeln haben oder bei denen eine traditionelle Akupunktur aus gesundheitlichen Gründen nicht möglich ist. Durch die Anwendung von Laserlicht werden Energieblockaden gelöst, die Durchblutung gefördert und die Selbstheilungskräfte des Tieres aktiviert. Genau wie die traditionelle Akupunktur kann die Laserakupunktur zur Behandlung einer Vielzahl von Beschwerden wie Schmerzen, Entzündungen oder Störungen im Bewegungsapparat eingesetzt werden. Darüber hinaus kann die Laserakupunktur auch zur Wundheilung und zur Reduzierung von Entzündungen und Schwellungen beitragen.</p>
    </div>
    <div class="col-md-5  order-md-1">
      <picture>
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_320.avif 320w" type="image/avif" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_320.webp 320w" type="image/webp" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_320.jpeg 320w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_640.avif 640w" type="image/avif" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_640.webp 640w" type="image/webp" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_640.jpeg 640w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_768.avif 768w" type="image/avif" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_768.webp 768w" type="image/webp" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_768.jpeg 768w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1024.avif 1024w" type="image/avif" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1024.webp 1024w" type="image/webp" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1024.jpeg 1024w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1366.avif 1366w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1366.webp 1366w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1366.jpeg 1366w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1600.avif 1600w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1600.webp 1600w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1600.jpeg 1600w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1920.avif 1920w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1920.webp 1920w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1920.jpeg 1920w" type="image/jpeg" sizes="100vw">
        <img src="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1920.jpeg" alt="Laserakupunktur an Hund und Pferd" title="Laserakupunktur an Hund und Pferd" loading="lazy" sizes="100vw"  class="featurette-image img-fluid mx-auto rounded-img" style="aspect-ratio: 1/1; object-fit: cover;">
    </picture>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Homöopathie</h2>
      <p class="lead">Die <strong>Homöopathie</strong> ist eine ganzheitliche und natürliche Heilmethode, die auf dem Prinzip "Ähnliches heilt Ähnliches" basiert. Durch die sorgfältige Auswahl von individuell passenden <em>homöopathischen Mitteln</em> aus dem Repertorium wird der Organismus Ihres Tieres angeregt, sich selbst zu heilen und das Gleichgewicht wiederherzustellen. Dabei werden sowohl körperliche als auch emotionale und Verhaltensaspekte berücksichtigt. Die Homöopathie eignet sich für eine Vielzahl von Beschwerden und Erkrankungen, wie zum Beispiel Hautprobleme, Allergien, Verdauungsstörungen, Atemwegserkrankungen oder Verhaltensauffälligkeiten. Die Auswahl des passenden Mittels ist genau auf die vorliegende Symptomatik durch sogenannte Repertorisation Ihres Tieres abgestimmt, um optimale Ergebnisse zu erzielen und Nebenwirkungen zu minimieren.</p>
    </div>
    <div class="col-md-5">
      <picture>
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_320.avif 320w" type="image/avif" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_320.webp 320w" type="image/webp" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_320.jpeg 320w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_640.avif 640w" type="image/avif" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_640.webp 640w" type="image/webp" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_640.jpeg 640w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_768.avif 768w" type="image/avif" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_768.webp 768w" type="image/webp" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_768.jpeg 768w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1024.avif 1024w" type="image/avif" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1024.webp 1024w" type="image/webp" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1024.jpeg 1024w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1366.avif 1366w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1366.webp 1366w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1366.jpeg 1366w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1600.avif 1600w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1600.webp 1600w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1600.jpeg 1600w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1920.avif 1920w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1920.webp 1920w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1920.jpeg 1920w" type="image/jpeg" sizes="100vw">
        <img src="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1920.jpeg" alt="Homöopathie für Hund und Pferd nahe Dresden" title="Homöopathie für Hund und Pferd nahe Dresden" loading="lazy" sizes="100vw" class="featurette-image img-fluid mx-auto rounded-img" style="aspect-ratio: 1/1; object-fit: cover;">
    </picture>
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Manuelle Therapie</h2>
      <p class="lead">Die <strong>Manuelle Therapie</strong> ist eine Körpertherapie und beinhaltet verschiedene Techniken wie <em>Massage</em>, <em>Mobilisation</em> und <em>Dehnung</em>, um Verspannungen zu lösen, die Beweglichkeit zu verbessern und Schmerzen bei Ihrem Tier zu lindern. Dies trägt zu einer besseren Lebensqualität und gesteigerten Vitalität bei. Manuelle Therapie kann bei zahlreichen Beschwerden wie Gelenk- und Muskelschmerzen, Arthrose oder Erkrankungen des Bewegungsapparates helfen.</p>
    </div>
    <div class="col-md-5">
      <picture>
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_320.avif 320w" type="image/avif" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_320.webp 320w" type="image/webp" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_320.jpeg 320w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_640.avif 640w" type="image/avif" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_640.webp 640w" type="image/webp" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_640.jpeg 640w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_768.avif 768w" type="image/avif" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_768.webp 768w" type="image/webp" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_768.jpeg 768w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_1024.avif 1024w" type="image/avif" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_1024.webp 1024w" type="image/webp" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_1024.jpeg 1024w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_1366.avif 1366w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_1366.webp 1366w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_1366.jpeg 1366w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_1600.avif 1600w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_1600.webp 1600w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_1600.jpeg 1600w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_1920.avif 1920w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_1920.webp 1920w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_1920.jpeg 1920w" type="image/jpeg" sizes="100vw">
        <img src="https://tierheilpraxis-jessican.de/img/behandlung/manuelle_1920.jpeg" alt="Manuelle Therapie für Hund und Pferd Region Dresden" title="Manuelle Therapie für Hund und Pferd Region Dresden" loading="lazy" sizes="100vw" class="featurette-image img-fluid mx-auto rounded-img" style="aspect-ratio: 1/1; object-fit: cover;">
    </picture>
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Phytotherapie</h2>
      <p class="lead">Die <strong>Phytotherapie</strong> ist die Anwendung von <em>Heilpflanzen</em> zur Behandlung von gesundheitlichen Beschwerden bei Tieren. Durch die gezielte Kombination verschiedener Pflanzenextrakte, die auf die individuellen Bedürfnisse Ihres Tieres abgestimmt sind, wird die Therapie effektiv unterstützt. Die Phytotherapie eignet sich für eine Vielzahl von Erkrankungen, wie zum Beispiel Atemwegserkrankungen, Verdauungsprobleme oder Stoffwechselstörungen.</p>
    </div>
    <div class="col-md-5  order-md-1">
      <picture>
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_320.avif 320w" type="image/avif" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_320.webp 320w" type="image/webp" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_320.jpeg 320w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_640.avif 640w" type="image/avif" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_640.webp 640w" type="image/webp" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_640.jpeg 640w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_768.avif 768w" type="image/avif" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_768.webp 768w" type="image/webp" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_768.jpeg 768w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_1024.avif 1024w" type="image/avif" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_1024.webp 1024w" type="image/webp" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_1024.jpeg 1024w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_1366.avif 1366w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_1366.webp 1366w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_1366.jpeg 1366w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_1600.avif 1600w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_1600.webp 1600w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_1600.jpeg 1600w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_1920.avif 1920w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_1920.webp 1920w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_1920.jpeg 1920w" type="image/jpeg" sizes="100vw">
        <img src="https://tierheilpraxis-jessican.de/img/behandlung/methods_phytotherapy_1920.jpeg" alt="Phytotherapie für Tiere" title="Phytotherapie für Tiere" loading="lazy" sizes="100vw"  class="featurette-image img-fluid mx-auto rounded-img" style="aspect-ratio: 1/1; object-fit: cover;">
    </picture>
    </div>
  </div>

  

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Aromatherapie</h2>
      <p class="lead"><strong>Ätherische Öle</strong> sind konzentrierte Pflanzenextrakte, die eine Vielzahl von therapeutischen Eigenschaften besitzen. Durch die gezielte Anwendung von <em>ätherischen Ölen</em> können sie das emotionale und physische Wohlbefinden Ihres Tieres unterstützen. Ätherische Öle können zum Beispiel bei Hautproblemen, Atemwegserkrankungen oder zur Entspannung und Stressreduktion eingesetzt werden.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <picture>
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_320.avif 320w" type="image/avif" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_320.webp 320w" type="image/webp" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_320.jpeg 320w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_640.avif 640w" type="image/avif" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_640.webp 640w" type="image/webp" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_640.jpeg 640w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_768.avif 768w" type="image/avif" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_768.webp 768w" type="image/webp" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_768.jpeg 768w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_1024.avif 1024w" type="image/avif" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_1024.webp 1024w" type="image/webp" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_1024.jpeg 1024w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_1366.avif 1366w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_1366.webp 1366w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_1366.jpeg 1366w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_1600.avif 1600w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_1600.webp 1600w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_1600.jpeg 1600w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_1920.avif 1920w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_1920.webp 1920w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/aroma_1920.jpeg 1920w" type="image/jpeg" sizes="100vw">
        <img src="https://tierheilpraxis-jessican.de/img/behandlung/aroma_1920.jpeg" alt="Aromatherapie am Hund in Pulsnitz und Radeberg" title="Aromatherapie am Hund in Pulsnitz und Radeberg" loading="lazy" sizes="100vw"  class="featurette-image img-fluid mx-auto rounded-img" style="aspect-ratio: 1/1; object-fit: cover;">
    </picture>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Ernährungsberatung</h2>
      <p class="lead">Eine artgerechte und ausgewogene Ernährung ist entscheidend für die Gesundheit und das Wohlbefinden von Tieren. Durch individuelle <strong>Ernährungsberatung</strong> und -planung wird der Grundstein für eine optimale Versorgung Ihres Tieres mit Nährstoffen und Vitalstoffen gelegt. Eine maßgeschneiderte Ernährungsberatung hilft dabei, Futterunverträglichkeiten, Allergien oder ernährungsbedingte Erkrankungen zu erkennen und zu behandeln.</p>
    </div>
    <div class="col-md-5">
      <picture>
        <source media="(max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/ernaehrungsberatung_768.avif 729w" type="image/avif" sizes="95vw">
    <source media="(max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/ernaehrungsberatung_768.webp 729w" type="image/webp" sizes="95vw">
    <source media="(max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/ernaehrungsberatung_768.jpeg 729w" type="image/jpeg" sizes="95vw">
    <source media="(min-width: 768px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/ernaehrungsberatung_1024.avif 972w" type="image/avif" sizes="95vw">
    <source media="(min-width: 768px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/ernaehrungsberatung_1024.webp 972w" type="image/webp" sizes="95vw">
    <source media="(min-width: 768px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/ernaehrungsberatung_1024.jpeg 972w" type="image/jpeg" sizes="95vw">
    <source media="(min-width: 1024px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/ernaehrungsberatung_1366.avif 1297w" type="image/avif" sizes="95vw">
    <source media="(min-width: 1024px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/ernaehrungsberatung_1366.webp 1297w" type="image/webp" sizes="95vw">
    <source media="(min-width: 1024px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/ernaehrungsberatung_1366.jpeg 1297w" type="image/jpeg" sizes="95vw">
    <source media="(min-width: 1366px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/ernaehrungsberatung_1600.avif 1520w" type="image/avif" sizes="95vw">
    <source media="(min-width: 1366px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/ernaehrungsberatung_1600.webp 1520w" type="image/webp" sizes="95vw">
    <source media="(min-width: 1366px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/ernaehrungsberatung_1600.jpeg 1520w" type="image/jpeg" sizes="95vw">
    <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/ernaehrungsberatung_1920.avif 1824w" type="image/avif" sizes="95vw">
    <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/ernaehrungsberatung_1920.webp 1824w" type="image/webp" sizes="95vw">
    <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/ernaehrungsberatung_1920.jpeg 1824w" type="image/jpeg" sizes="95vw">
        <img src="https://tierheilpraxis-jessican.de/img/behandlung/ernaehrungsberatung_1920.jpeg" alt="Ernährungsberatung für Pferd und Hund" title="Ernährungsberatung für Pferd und Hund" loading="lazy" sizes="100vw" class="featurette-image img-fluid mx-auto rounded-img" style="aspect-ratio: 1/1; object-fit: cover;">
    </picture>
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Bioresonanz</h2>
      <p class="lead"><strong>Bioresonanz</strong>-Analyse mit dem "Mars III" System von Copen Scope mittels Haaranalyse ergänzt andere diagnostische Methoden wie Laboranalysen und bietet eine effektive, nicht-invasive Untersuchungsmöglichkeit für Hunde und Pferde. Durch die Analyse von Haarproben lassen sich Ernährungszustand, Allergien und Umweltbelastungen präzise ermitteln. Diese Methode ermöglicht eine maßgeschneiderte Behandlung und ist besonders schonend, da sie ohne Stress und Schmerzen für das Tier durchgeführt wird. Sie ergänzt andere naturheilkundliche Verfahren optimal und unterstützt so das Wohlbefinden Ihres Tieres auf ganzheitliche Weise.</p>
    </div>
    <div class="col-md-5">
      <picture>
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_320.avif 320w" type="image/avif" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_320.webp 320w" type="image/webp" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_320.jpeg 320w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_640.avif 640w" type="image/avif" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_640.webp 640w" type="image/webp" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_640.jpeg 640w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_768.avif 768w" type="image/avif" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_768.webp 768w" type="image/webp" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_768.jpeg 768w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_1024.avif 1024w" type="image/avif" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_1024.webp 1024w" type="image/webp" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_1024.jpeg 1024w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_1366.avif 1366w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_1366.webp 1366w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_1366.jpeg 1366w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_1600.avif 1600w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_1600.webp 1600w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_1600.jpeg 1600w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_1920.avif 1920w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_1920.webp 1920w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_1920.jpeg 1920w" type="image/jpeg" sizes="100vw">
        <img src="https://tierheilpraxis-jessican.de/img/behandlung/methods_bioresonance_1920.jpeg" alt="Manuelle Therapie für Hund und Pferd Region Dresden" title="Manuelle Therapie für Hund und Pferd Region Dresden" loading="lazy" sizes="100vw" class="featurette-image img-fluid mx-auto rounded-img" style="aspect-ratio: 1/1; object-fit: cover;">
    </picture>
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Laboranalysen</h2>
      <p class="lead">Eine fundierte Diagnose ist der Schlüssel zu einer effektiven Behandlung. In meiner Praxis arbeite ich daher eng mit einem erfahrenen Partnerlabor zusammen, um Ihnen umfassende und präzise Tests anzubieten. Diese Tests ermöglichen es mir, tiefgreifende Einblicke in die Gesundheit Ihres Tieres zu gewinnen und so individuell abgestimmte Behandlungspläne zu entwickeln. Mein Angebot umfasst eine Vielzahl von Laboruntersuchungen, darunter diverse <strong>Bluttests</strong> einschließlich <strong>Allergietests</strong>, Analysen von <strong>Haar- und Hautproben</strong> sowie <strong>Kot- und Urintests</strong>. Mit dieser breiten Palette an diagnostischen Möglichkeiten strebe ich danach, die bestmögliche Versorgung für Ihr Tier zu gewährleisten und gemeinsam den Weg zu Gesundheit und Wohlbefinden zu beschreiten.</p>
    </div>
    <div class="col-md-5">
      <picture>
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_320.avif 304w" type="image/avif" sizes="95vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_320.webp 304w" type="image/webp" sizes="95vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_320.jpeg 304w" type="image/jpeg" sizes="95vw">
        <source media="(min-width: 320px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_640.avif 608w" type="image/avif" sizes="95vw">
        <source media="(min-width: 320px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_640.webp 608w" type="image/webp" sizes="95vw">
        <source media="(min-width: 320px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_640.jpeg 608w" type="image/jpeg" sizes="95vw">
        <source media="(min-width: 640px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_768.avif 729w" type="image/avif" sizes="95vw">
        <source media="(min-width: 640px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_768.webp 729w" type="image/webp" sizes="95vw">
        <source media="(min-width: 640px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_768.jpeg 729w" type="image/jpeg" sizes="95vw">
        <source media="(min-width: 768px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_1024.avif 972w" type="image/avif" sizes="95vw">
        <source media="(min-width: 768px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_1024.webp 972w" type="image/webp" sizes="95vw">
        <source media="(min-width: 768px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_1024.jpeg 972w" type="image/jpeg" sizes="95vw">
        <source media="(min-width: 1024px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_1366.avif 1297w" type="image/avif" sizes="95vw">
        <source media="(min-width: 1024px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_1366.webp 1297w" type="image/webp" sizes="95vw">
        <source media="(min-width: 1024px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_1366.jpeg 1297w" type="image/jpeg" sizes="95vw">
        <source media="(min-width: 1366px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_1600.avif 1520w" type="image/avif" sizes="95vw">
        <source media="(min-width: 1366px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_1600.webp 1520w" type="image/webp" sizes="95vw">
        <source media="(min-width: 1366px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_1600.jpeg 1520w" type="image/jpeg" sizes="95vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_1920.avif 1824w" type="image/avif" sizes="95vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_1920.webp 1824w" type="image/webp" sizes="95vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_1920.jpeg 1824w" type="image/jpeg" sizes="95vw">
        <img src="https://tierheilpraxis-jessican.de/img/behandlung//methods_labor_1920.jpeg" alt="Laboranalysen für Pferd und Hund" title="Laboranalysen für Pferd und Hund" loading="lazy" sizes="95vw"   class="featurette-image img-fluid mx-auto rounded-img" style="aspect-ratio: 1/1; object-fit: cover;">
    </picture>
    </div>
  </div>
  <hr class="featurette-divider">
  <!--
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      <h2>Weitere Leistungen</h2>
      <ul>
        <li>Schüssler Salze</li>
        <li>Urinproben-Analyse</li>
        <li>Blutuntersuchungen</li>
      </ul>
    </div>
  </div>
</div>
-->

{% endblock content %}