{% extends "template.html" %}
{% block title %}Behandlung - {{ config.title }}{% endblock title %}
{% block description %}
<meta name="description" content="Behandlungsmethoden Akupunktur, Homöopathie, Phytotherapie, Manuelle Therapie, Aromatherapie & Ernährungsberatung für Hund & Pferd">
{% endblock description %}
{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/about-bg_large.jpeg")}}')">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Meine Methoden im Überblick</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      <h2>Akupunktur / Laserakupunktur</h2>
      <p>Die <strong>Akupunktur</strong> und <strong>Laserakupunktur</strong> sind bewährte Heilmethoden aus der Traditionell Chinesischen Medizin (TCM), die das körpereigene Energiesystem stimulieren und das Wohlbefinden Ihres Tieres fördern. Durch gezieltes Setzen von Nadeln oder Laserlicht an bestimmten <em>Akupunkturpunkten</em> werden Energieblockaden gelöst, die Durchblutung gefördert und die Selbstheilungskräfte Ihres Tieres aktiviert. Beide Methoden sind für eine Vielzahl von Beschwerden geeignet, wie zum Beispiel Schmerzen, Entzündungen oder Störungen im Bewegungsapparat.</p>
      <h2>Homöopathie</h2>
      <p>Die <strong>Homöopathie</strong> ist eine ganzheitliche und natürliche Heilmethode, die auf dem Prinzip "Ähnliches heilt Ähnliches" basiert. Durch die sorgfältige Auswahl von individuell passenden <em>homöopathischen Mitteln</em> aus dem Repertorium wird der Organismus Ihres Tieres angeregt, sich selbst zu heilen und das Gleichgewicht wiederherzustellen. Dabei werden sowohl körperliche als auch emotionale und Verhaltensaspekte berücksichtigt. Die Homöopathie eignet sich für eine Vielzahl von Beschwerden und Erkrankungen, wie zum Beispiel Hautprobleme, Allergien, Verdauungsstörungen, Atemwegserkrankungen oder Verhaltensauffälligkeiten. Die Auswahl des passenden Mittels ist genau auf die vorliegende Symptomatik durch sogenannte Repertorisation Ihres Tieres abgestimmt, um optimale Ergebnisse zu erzielen und Nebenwirkungen zu minimieren.</p>
      <h2>Phytotherapie</h2>
      <p>Die <strong>Phytotherapie</strong> ist die Anwendung von <em>Heilpflanzen</em> zur Behandlung von gesundheitlichen Beschwerden bei Tieren. Durch die gezielte Kombination verschiedener Pflanzenextrakte, die auf die individuellen Bedürfnisse Ihres Tieres abgestimmt sind, wird die Therapie effektiv unterstützt. Die Phytotherapie eignet sich für eine Vielzahl von Erkrankungen, wie zum Beispiel Atemwegserkrankungen, Verdauungsprobleme oder Stoffwechselstörungen.</p>
      <h2>Manuelle Therapie</h2>
      <p>Die <strong>Manuelle Therapie</strong> beinhaltet verschiedene Techniken wie <em>Massage</em>, <em>Mobilisation</em> und <em>Dehnung</em>, um Verspannungen zu lösen, die Beweglichkeit zu verbessern und Schmerzen bei Ihrem Tier zu lindern. Dies trägt zu einer besseren Lebensqualität und gesteigerten Vitalität bei. Manuelle Therapie kann bei zahlreichen Beschwerden wie Gelenk- und Muskelschmerzen, Arthrose oder Erkrankungen des Bewegungsapparates helfen.</p>
      <h2>Aromatherapie</h2>
      <p><strong>Ätherische Öle</strong> sind konzentrierte Pflanzenextrakte, die eine Vielzahl von therapeutischen Eigenschaften besitzen. Durch die gezielte Anwendung von <em>ätherischen Ölen</em> können sie das emotionale und physische Wohlbefinden Ihres Tieres unterstützen. Ätherische Öle können zum Beispiel bei Hautproblemen, Atemwegserkrankungen oder zur Entspannung und Stressreduktion eingesetzt werden.</p>
      <h2>Ernährungsberatung</h2>
      <p>Eine artgerechte und ausgewogene Ernährung ist entscheidend für die Gesundheit und das Wohlbefinden von Tieren. Durch individuelle <strong>Ernährungsberatung</strong> und -planung wird der Grundstein für eine optimale Versorgung Ihres Tieres mit Nährstoffen und Vitalstoffen gelegt. Eine maßgeschneiderte Ernährungsberatung hilft dabei, Futterunverträglichkeiten, Allergien oder ernährungsbedingte Erkrankungen zu erkennen und zu behandeln.</p>
    </div>
  </div>
 
<div class="container marketing">


  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Akupunktur</h2>
      <p class="lead"> Die <strong>Akupunktur</strong> ist eine bewährte Heilmethode aus der Traditionell Chinesischen Medizin (TCM), die das körpereigene Energiesystem stimuliert und das Wohlbefinden Ihres Tieres fördert. Durch gezieltes Setzen von Nadeln an bestimmten Akupunkturpunkten werden Energieblockaden gelöst, die Durchblutung verbessert und die Selbstheilungskräfte Ihres Hundes oder Pferdes aktiviert. Die Akupunktur ist eine sanfte und nahezu schmerzfreie Methode, die sich für eine Vielzahl von Beschwerden eignet, einschließlich Schmerzen, Entzündungen oder Störungen im Bewegungsapparat. Die Vorteile der Akupunktur sind vielfältig und reichen von einer verbesserten Immunität bis hin zu einer gesteigerten Lebensqualität und Vitalität Ihres Tieres.     
      </div>
    <div class="col-md-5">
      <picture>
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_320.avif 320w" type="image/avif" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_320.webp 320w" type="image/webp" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_320.jpeg 320w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_640.avif 640w" type="image/avif" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_640.webp 640w" type="image/webp" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_640.jpeg 640w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_768.avif 768w" type="image/avif" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_768.webp 768w" type="image/webp" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_768.jpeg 768w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1024.avif 1024w" type="image/avif" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1024.webp 1024w" type="image/webp" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1024.jpeg 1024w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1366.avif 1366w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1366.webp 1366w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1366.jpeg 1366w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1600.avif 1600w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1600.webp 1600w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1600.jpeg 1600w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1920.avif 1920w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1920.webp 1920w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1920.jpeg 1920w" type="image/jpeg" sizes="100vw">
        <img src="https://tierheilpraxis-jessican.de/img/behandlung/akupunktur_1920.jpeg" alt="Tierheilpraktiker bei der Akupunktur" title="Tierheilpraktiker bei der Akupunktur" loading="lazy" sizes="100vw"  class="featurette-image img-fluid mx-auto rounded-img" style="aspect-ratio: 1/1; object-fit: cover;">
      </picture>
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Laserakupunktur</h2>
      <p class="lead">Die <strong>Laserakupunktur</strong> ist eine moderne Variante der traditionellen Akupunktur, bei der anstelle von Nadeln ein spezifischer Laserstrahl verwendet wird, um die Akupunkturpunkte zu stimulieren. Die Laserakupunktur ist vollkommen nicht-invasiv und schmerzfrei, was sie besonders geeignet für Tiere macht, die Angst vor Nadeln haben oder bei denen eine traditionelle Akupunktur aus gesundheitlichen Gründen nicht möglich ist. Durch die Anwendung von Laserlicht werden Energieblockaden gelöst, die Durchblutung gefördert und die Selbstheilungskräfte des Tieres aktiviert. Genau wie die traditionelle Akupunktur kann die Laserakupunktur zur Behandlung einer Vielzahl von Beschwerden wie Schmerzen, Entzündungen oder Störungen im Bewegungsapparat eingesetzt werden. Darüber hinaus kann die Laserakupunktur auch zur Wundheilung und zur Reduzierung von Entzündungen und Schwellungen beitragen.</p>
    </div>
    <div class="col-md-5  order-md-1">
      <picture>
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_320.avif 320w" type="image/avif" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_320.webp 320w" type="image/webp" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_320.jpeg 320w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_640.avif 640w" type="image/avif" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_640.webp 640w" type="image/webp" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_640.jpeg 640w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_768.avif 768w" type="image/avif" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_768.webp 768w" type="image/webp" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_768.jpeg 768w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1024.avif 1024w" type="image/avif" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1024.webp 1024w" type="image/webp" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1024.jpeg 1024w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1366.avif 1366w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1366.webp 1366w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1366.jpeg 1366w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1600.avif 1600w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1600.webp 1600w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1600.jpeg 1600w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1920.avif 1920w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1920.webp 1920w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1920.jpeg 1920w" type="image/jpeg" sizes="100vw">
        <img src="https://tierheilpraxis-jessican.de/img/behandlung/laserakupunktur_1920.jpeg" alt="Laserakupunktur an Hund und Pferd" title="Laserakupunktur an Hund und Pferd" loading="lazy" sizes="100vw"  class="featurette-image img-fluid mx-auto rounded-img" style="aspect-ratio: 1/1; object-fit: cover;">
    </picture>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Homöopathie</h2>
      <p class="lead">Die <strong>Homöopathie</strong> ist eine ganzheitliche und natürliche Heilmethode, die auf dem Prinzip "Ähnliches heilt Ähnliches" basiert. Durch die sorgfältige Auswahl von individuell passenden <em>homöopathischen Mitteln</em> aus dem Repertorium wird der Organismus Ihres Tieres angeregt, sich selbst zu heilen und das Gleichgewicht wiederherzustellen. Dabei werden sowohl körperliche als auch emotionale und Verhaltensaspekte berücksichtigt. Die Homöopathie eignet sich für eine Vielzahl von Beschwerden und Erkrankungen, wie zum Beispiel Hautprobleme, Allergien, Verdauungsstörungen, Atemwegserkrankungen oder Verhaltensauffälligkeiten. Die Auswahl des passenden Mittels ist genau auf die vorliegende Symptomatik durch sogenannte Repertorisation Ihres Tieres abgestimmt, um optimale Ergebnisse zu erzielen und Nebenwirkungen zu minimieren.</p>
    </div>
    <div class="col-md-5">
      <picture>
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_320.avif 320w" type="image/avif" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_320.webp 320w" type="image/webp" sizes="100vw">
        <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_320.jpeg 320w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_640.avif 640w" type="image/avif" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_640.webp 640w" type="image/webp" sizes="100vw">
        <source media="(min-width: 321px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_640.jpeg 640w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_768.avif 768w" type="image/avif" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_768.webp 768w" type="image/webp" sizes="100vw">
        <source media="(min-width: 641px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_768.jpeg 768w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1024.avif 1024w" type="image/avif" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1024.webp 1024w" type="image/webp" sizes="100vw">
        <source media="(min-width: 769px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1024.jpeg 1024w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1366.avif 1366w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1366.webp 1366w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1025px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1366.jpeg 1366w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1600.avif 1600w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1600.webp 1600w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1367px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1600.jpeg 1600w" type="image/jpeg" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1920.avif 1920w" type="image/avif" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1920.webp 1920w" type="image/webp" sizes="100vw">
        <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1920.jpeg 1920w" type="image/jpeg" sizes="100vw">
        <img src="https://tierheilpraxis-jessican.de/img/behandlung/homoeopathie_1920.jpeg" alt="" title="" loading="lazy" sizes="100vw" class="featurette-image img-fluid mx-auto rounded-img" style="aspect-ratio: 1/1; object-fit: cover;">
    </picture>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Phytotherapie</h2>
      <p class="lead">Die <strong>Phytotherapie</strong> ist die Anwendung von <em>Heilpflanzen</em> zur Behandlung von gesundheitlichen Beschwerden bei Tieren. Durch die gezielte Kombination verschiedener Pflanzenextrakte, die auf die individuellen Bedürfnisse Ihres Tieres abgestimmt sind, wird die Therapie effektiv unterstützt. Die Phytotherapie eignet sich für eine Vielzahl von Erkrankungen, wie zum Beispiel Atemwegserkrankungen, Verdauungsprobleme oder Stoffwechselstörungen.</p>
    </div>
    <div class="col-md-5  order-md-1">
      <img class="featurette-image img-fluid mx-auto rounded-img" src="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_768.jpeg">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Manuelle Therapie</h2>
      <p class="lead">Die <strong>Manuelle Therapie</strong> beinhaltet verschiedene Techniken wie <em>Massage</em>, <em>Mobilisation</em> und <em>Dehnung</em>, um Verspannungen zu lösen, die Beweglichkeit zu verbessern und Schmerzen bei Ihrem Tier zu lindern. Dies trägt zu einer besseren Lebensqualität und gesteigerten Vitalität bei. Manuelle Therapie kann bei zahlreichen Beschwerden wie Gelenk- und Muskelschmerzen, Arthrose oder Erkrankungen des Bewegungsapparates helfen.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto rounded-img" src="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_768.jpeg">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Aromatherapiee</h2>
      <p class="lead"><strong>Ätherische Öle</strong> sind konzentrierte Pflanzenextrakte, die eine Vielzahl von therapeutischen Eigenschaften besitzen. Durch die gezielte Anwendung von <em>ätherischen Ölen</em> können sie das emotionale und physische Wohlbefinden Ihres Tieres unterstützen. Ätherische Öle können zum Beispiel bei Hautproblemen, Atemwegserkrankungen oder zur Entspannung und Stressreduktion eingesetzt werden.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto rounded-img" src="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_768.jpeg">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Ernährungsberatung</h2>
      <p class="lead">Eine artgerechte und ausgewogene Ernährung ist entscheidend für die Gesundheit und das Wohlbefinden von Tieren. Durch individuelle <strong>Ernährungsberatung</strong> und -planung wird der Grundstein für eine optimale Versorgung Ihres Tieres mit Nährstoffen und Vitalstoffen gelegt. Eine maßgeschneiderte Ernährungsberatung hilft dabei, Futterunverträglichkeiten, Allergien oder ernährungsbedingte Erkrankungen zu erkennen und zu behandeln.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto rounded-img" src="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_768.jpeg">
    </div>
  </div>
</div>
<!-- /.container -->

{% endblock content %}