{% extends "template.html" %}
{% block title %}Blog - {{ config.title }}{% endblock title %}
{% block description %}
    <meta name="description" content="Blog von Tierheilpraktiker JessICan: Akupunktur, Homöopathie, Phytotherapie, Manuelle Therapie, ätherische Öle & Ernährungsberatung für Hunde & Pferde">
{% endblock description %}

<!-- Page Header -->
{% block header %}
  <header class="masthead" style="background-image: url('{{ get_url(path="/img/home-bg.png")}}');background-size:100%;">
    <div class="overlay">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Mein Blog</h1>
            <span class="subheading">Lesen Sie Artikel zu den aktuellsten Themen!</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}

{% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <p>
          <a href="{{ get_url(path="categories/") }}" >Zu den Blog-Kategorien</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="posts">
          {% for page in paginator.pages %}
          <div class="post-preview">
            {{ post_macros::page_title(page=page) }}
            <p class="post-summary">{{ page.summary | safe }}</p>
          </div>
          {% endfor %}
        </div>

        <!-- Paginator -->
        <div class="clearfix">
          {% if paginator.previous %}
          <a class="btn btn-primary float-left" href="{{ paginator.previous }}"> &larr; Neuere Beiträge</a>
          {% endif %}
          {% if paginator.next %}
          <a class="btn btn-primary float-right" href="{{ paginator.next }}">Ältere Beiträge &rarr;</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}