{% extends "template.html" %}
{% block title %}Blog - {{ config.title }} {{ current_path }} {% endblock title %}
{% block description %}
  <meta name="description" content="Blog von Tierheilpraktiker JessICan {{ current_path }}">
{% endblock description %}
{% block headextras %}
  <meta name="robots" content="noindex, follow">
{% endblock headextras %}

<!-- Page Header -->
{% block header %}
  <header class="masthead" style="background-image: url('{{ get_url(path="/img/home-bg_large.jpeg")}}');background-size:100%;">
    <div class="overlay">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Spannendes aus meinem Blog</h1>
            <span class="subheading">Lesen Sie Artikel zu den aktuellsten Themen!</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock header %}

{% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <p>
          <a href="{{ get_url(path="categories/", trailing_slash=true) }}" title="Blog Kategorien" >Zu den Blog-Kategorien</a>
        </p>
        <p class="introduction">
          Willkommen auf unserem Blog! Hier finden Sie die neuesten Artikel, die ich zu verschiedenen Themen verfasst haben. Entdecken Sie spannende Informationen, Tipps und Neuigkeiten in meinen Beiträgen und tauchen Sie ein in die Welt der Naturheilkunde für Hunde und Pferde ein. Viel Spaß beim Lesen!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="posts">
          {% for page in paginator.pages %}
          <div class="post-preview">
            {{ post_macros::page_title(page=page) }}
            <p class="post-summary">{{ page.summary | safe }}</p>
          </div>
          {% endfor %}
        </div>

        <!-- Paginator -->
        <div class="clearfix">
          {% if paginator.previous %}
          <a class="btn btn-primary float-left" href="{{ paginator.previous }}" title="Neuere Beiträge"> &larr; Neuere Beiträge</a>
          {% endif %}
          {% if paginator.next %}
          <a class="btn btn-primary float-right" href="{{ paginator.next }}" title="Ältere Beiträge">Ältere Beiträge &rarr;</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}