{% extends "template.html" %}
{% block title %}Datenschutzerklärung - {{ config.title }}{% endblock title %}
{% block description %}
    <meta name="description" content="Datenschutzerklärung von Tierheilpraktiker JessICan: Akupunktur, Homöopathie, Phytotherapie, Manuelle Therapie, Aromatherapie & Ernährungsberatung für Hunde & Pferde">
{% endblock description %}
{% block metatags %}
<!-- Facebook Open Graph Meta-Tags -->
<meta property="og:url" content="https://tierheilpraxis-jessican.de/datenschutz/"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="Datenschutzerklärung - Tierheilpraxis JessICan"/>
<meta property="og:description" content="Datenschutzerklärung von Tierheilpraktiker JessICan: Akupunktur, Homöopathie, Phytotherapie, Manuelle Therapie, Aromatherapie &amp; Ernährungsberatung für Hunde &amp; Pferde"/>
<meta property="og:image" content="https://tierheilpraxis-jessican.de/favicons/android-chrome-192x192.png"/>

<!-- Twitter Meta-Tags -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@jessican"/>
<meta name="twitter:title" content="Datenschutzerklärung - Tierheilpraxis JessICan"/>
<meta name="twitter:description" content="Datenschutzerklärung von Tierheilpraktiker JessICan: Akupunktur, Homöopathie, Phytotherapie, Manuelle Therapie, Aromatherapie &amp; Ernährungsberatung für Hunde &amp; Pferde"/>
<meta name="twitter:image" content="https://tierheilpraxis-jessican.de/favicons/android-chrome-192x192.png"/>
{% endblock metatags %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/about-bg.jpg")}}')">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Datenschutz & Umgang mit personenbezogenen Daten</h1>
          <span class="subheading">Rechtliche Angaben zu Thema Datenschutz</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      {{ page.content | safe }}
    </div>
  </div>
</div>
{% endblock content %}