{% extends "index.html" %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/about-bg.jpg")}}')">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Impressum</h1>
          <span class="subheading">Rechtliche Angaben zu mir und meiner Firma</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      Impressum:

Verantwortlich für den Inhalt dieser Webseite gemäß § 5 TMG:

MEIN NAME
MEINEADRESSE
Telefon: 012345678
E-Mail: [hier Ihre E-Mail-Adresse angeben]
Umsatzsteuer-Identifikationsnummer gemäß § 27a UStG: 123123123

Haftungshinweis:

Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.

Haftungsausschluss:

Die Informationen auf dieser Webseite wurden sorgfältig geprüft und werden regelmäßig aktualisiert. Dennoch kann keine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen übernommen werden.

Urheberrecht:

Die Inhalte und Werke auf dieser Webseite unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.

Datenschutz:

Die Nutzung dieser Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf dieser Webseite personenbezogene Daten (z.B. Name, E-Mail-Adresse) erhoben werden, erfolgt dies stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.

Haftpflichtversicherung:

Yolo123

Zuständige Aufsichtsbehörde:

Veterinäramt Landkreis Bautzen: Amtsleiterin DVM Ulrike Kutschke
Lebensmittelüberwachungs- und Veterinäramt
Bahnhofstraße 7
02625 Bautzen
Postanschrift:
Landratsamt Bautzen
Lebensmittelüberwachungs- und Veterinäramt
Bahnhofstraße 9
02625 Bautzen
Telefon: (03591) 5 25 13 90 00
lueva@lra-bautzen.de
www.landkreis-bautzen.de
    </div>
  </div>
</div>
{% endblock content %}