{% extends "template.html" %}
{% block title %}Tierheilpraktiker JessICan - natürlich gesund! Hund & Pferd{% endblock title %}
{% block description %}
    <meta name="description" content="Tierheilpraktiker JessICan: Naturheilkunde, Tiertherapie & Ernährungsberatung für Hund & Pferd in Dresden, Kamenz, Bautzen und Umgebung">
    <link rel="preload" href="{{ get_url(path="/img/home-bg_large.jpeg") }}" as="image">
{% endblock description %}
<!-- Page Header -->
{% block header %}
<header class="masthead" style="background-image: url('{{ get_url(path="/img/home-bg_large.jpeg")}}')">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{config.title}}</h1>
          <span class="subheading">natürlich gesund!</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}
{% block content %}
<!-- Modal 
<div class="modal fade show" id="sommerAktionModal" tabindex="-1" role="dialog" aria-labelledby="sommerAktionModalLabel" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="sommerAktionModalLabel">Exklusive Sommeraktion nur für Tierliebhaber!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>      
      </div>
      <div class="modal-body">
        <picture>
          <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/modal_sommer_320.avif 304w" type="image/avif" sizes="95vw">
          <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/modal_sommer_320.webp 304w" type="image/webp" sizes="95vw">
          <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/modal_sommer_320.jpeg 304w" type="image/jpeg" sizes="95vw">
          <source media="(min-width: 320px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/modal_sommer_640.avif 608w" type="image/avif" sizes="95vw">
          <source media="(min-width: 320px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/modal_sommer_640.webp 608w" type="image/webp" sizes="95vw">
          <source media="(min-width: 320px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/modal_sommer_640.jpeg 608w" type="image/jpeg" sizes="95vw">
          <source media="(min-width: 640px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/modal_sommer_768.avif 729w" type="image/avif" sizes="95vw">
          <source media="(min-width: 640px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/modal_sommer_768.webp 729w" type="image/webp" sizes="95vw">
          <source media="(min-width: 640px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/modal_sommer_768.jpeg 729w" type="image/jpeg" sizes="95vw">
          <source media="(min-width: 768px)" srcset="https://tierheilpraxis-jessican.de/img/modal_sommer_1024.avif 972w" type="image/avif" sizes="95vw">
          <source media="(min-width: 768px)" srcset="https://tierheilpraxis-jessican.de/img/modal_sommer_1024.webp 972w" type="image/webp" sizes="95vw">
          <source media="(min-width: 768px)" srcset="https://tierheilpraxis-jessican.de/img/modal_sommer_1024.jpeg 972w" type="image/jpeg" sizes="95vw">
          <img src="https://tierheilpraxis-jessican.de/img/modal_sommer_1024.jpeg" alt="Sommeraktion bei Tierheilpraxis JessICan" title="Sommeraktion bei Tierheilpraxis JessICan" sizes="95vw" style="max-width: 100%">
      </picture>

      Erleben Sie diesen Sommer etwas ganz Besonderes! Als Dankeschön an alle engagierten Tierbesitzer biete ich einen exklusiven Rabatt von 10% auf alle Behandlungen bis zum 30.09.2023 an.
      </div>
    </div>
  </div>
</div>
-->
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <section class="p-4 rounded">
        <h2>Ihr Tierheilpraktiker für Pferd und Hund in Dresden, Kamenz, Bautzen und Umgebung!</h2>
        <p >
          Hallo, mein Name ist Jessica und ich bin eine leidenschaftlicher Tierheilpraktiker für <em>Hunde</em> und <em>Pferde</em>. Mit meinem ganzheitlichen Ansatz unterstütze ich Sie dabei, gemeinsam mit Ihren Tieren gesundheitliche Herausforderungen zu bewältigen und ein harmonisches Zusammenleben zu fördern. Als engagierter Tierheilpraktiker biete ich individuelle Behandlungskonzepte, die auf die Bedürfnisse jedes einzelnen Tieres abgestimmt sind. Entdecken Sie die Möglichkeiten einer natürlichen und ganzheitlichen Tierheilkunde für Ihre vierbeinigen Freunde. Profitieren Sie von meiner umfassenden Fachkenntnis in der Tierheilkunde.
        </p>
        <div class="mt-3">
          <a href="about/" class="btn btn-primary mb-5" title="Über mich ">
            Mehr über mich
          </a>
        </div>
      </section>
    </div>
  </div>
  <div class="row">  
    <div class="col-md-12 mx-auto">
      <section id="gallery">
        <div class="row">
          <div class="col-12 text-center">
            <h2>Leistungsübersicht</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="card h-100">
              <picture>
                <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_320.avif 320w" type="image/avif" sizes="95vw">
                <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_320.webp 320w" type="image/webp" sizes="95vw">
                <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_320.jpeg 320w" type="image/jpeg" sizes="95vw">
                <source media="(min-width: 320px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_640.avif 640w" type="image/avif" sizes="95vw">
                <source media="(min-width: 320px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_640.webp 640w" type="image/webp" sizes="95vw">
                <source media="(min-width: 320px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_640.jpeg 640w" type="image/jpeg" sizes="95vw">
                <source media="(min-width: 640px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_640.avif 768w" type="image/avif" sizes="95vw">
                <source media="(min-width: 640px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_768.webp 768w" type="image/webp" sizes="95vw">
                <source media="(min-width: 640px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_768.jpeg 768w" type="image/jpeg" sizes="95vw">
                <source media="(min-width: 768px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_768.avif 768w" type="image/avif" sizes="95vw">
                <source media="(min-width: 768px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_768.webp 768w" type="image/webp" sizes="95vw">
                <source media="(min-width: 768px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_768.jpeg 768w" type="image/jpeg" sizes="95vw">
                <source media="(min-width: 1024px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_768.avif 768w" type="image/avif" sizes="17vw">
                <source media="(min-width: 1024px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_768.webp 768w" type="image/webp" sizes="17vw">
                <source media="(min-width: 1024px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_768.jpeg 768w" type="image/jpeg" sizes="17vw">
                <source media="(min-width: 1366px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_768.avif 768w" type="image/avif" sizes="17vw">
                <source media="(min-width: 1366px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_768.webp 768w" type="image/webp" sizes="17vw">
                <source media="(min-width: 1366px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_768.jpeg 768w" type="image/jpeg" sizes="17vw">
                <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_768.avif 768w" type="image/avif" sizes="17vw">
                <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_768.webp 768w" type="image/webp" sizes="17vw">
                <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/manuelle_768.jpeg 768w" type="image/jpeg" sizes="17vw">
                <img src="https://tierheilpraxis-jessican.de/img/manuelle_1920.jpeg" alt="Manuelle Therapie für Hund und Pferd Region Dresden" title="Manuelle Therapie für Hund und Pferd Region Dresden" loading="lazy" sizes="100vw" class="card-img-top" style="aspect-ratio: 1/1; object-fit: cover;">
               </picture>           
              <div class="card-body">
                <h3 class="card-title">Körpertherapie</h3>
                <p class="card-text">
                  Erfahren Sie die wohltuende Wirkung gezielter Handgriffe, die Verspannungen lösen und die Beweglichkeit fördern. Die <strong>Manuelle Therapie</strong> hilft Ihrem Tier, Schmerzen zu lindern, die Gelenkfunktion zu verbessern und die Muskulatur zu entspannen, um eine optimale Leistung und Lebensqualität zu erreichen.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card h-100">
              <picture>
                <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/naturheilkunde_320.avif 304w" type="image/avif" sizes="95vw">
                <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/naturheilkunde_320.webp 304w" type="image/webp" sizes="95vw">
                <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/naturheilkunde_320.jpeg 304w" type="image/jpeg" sizes="95vw">
                <source media="(min-width: 320px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/naturheilkunde_640.avif 608w" type="image/avif" sizes="95vw">
                <source media="(min-width: 320px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/naturheilkunde_640.webp 608w" type="image/webp" sizes="95vw">
                <source media="(min-width: 320px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/naturheilkunde_640.jpeg 608w" type="image/jpeg" sizes="95vw">
                <source media="(min-width: 640px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/naturheilkunde_768.avif 729w" type="image/avif" sizes="95vw">
                <source media="(min-width: 640px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/naturheilkunde_768.webp 729w" type="image/webp" sizes="95vw">
                <source media="(min-width: 640px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/naturheilkunde_768.jpeg 729w" type="image/jpeg" sizes="95vw">
                <source media="(min-width: 768px)" srcset="https://tierheilpraxis-jessican.de/img/naturheilkunde_1024.avif 972w" type="image/avif" sizes="17vw">
                <source media="(min-width: 768px)" srcset="https://tierheilpraxis-jessican.de/img/naturheilkunde_1024.webp 972w" type="image/webp" sizes="17vw">
                <source media="(min-width: 768px)" srcset="https://tierheilpraxis-jessican.de/img/naturheilkunde_1024.jpeg 972w" type="image/jpeg" sizes="17vw">
                <img src="https://tierheilpraxis-jessican.de/img/naturheilkunde_1024.jpeg" alt="Naturheilkunde in Dresden, Radeberg, Pulsnitz und Umgebung" title="Naturheilkunde in Dresden, Radeberg, Pulsnitz und Umgebung" loading="lazy" sizes="95vw"  class="card-img-top" style="aspect-ratio: 1/1; object-fit: cover;">
            </picture>
            <div class="card-body">
              <h3 class="card-title">Naturheilkunde</h3>
              <p class="card-text">
                Entdecken Sie die Kraft der Heilung durch natürliche Therapieansätze, die Körper und Geist von <em>Pferd</em> oder <em>Hund</em> in Einklang bringen. Ich biete individuell angepasste <strong>Ernährungsberatung</strong> und -pläne sowie <strong>Pflanzenheilkunde</strong>, um die Gesundheit Ihres Tieres ganzheitlich zu unterstützen und das Wohlbefinden nachhaltig zu fördern.
              </p>
            </div>
          </div>
          </div> 
          <div class="col-lg-4 mb-4">
            <div class="card h-100">
              <picture>
                <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_320.avif 320w 320w" type="image/avif" sizes="95vw">
                <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_320.webp 320w 320w" type="image/webp" sizes="95vw">
                <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_320.jpeg 320w 320w" type="image/jpeg" sizes="95vw">
                <source media="(min-width: 320px) and (max-width: 574px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_640.avif 640w" type="image/avif" sizes="95vw">
                <source media="(min-width: 320px) and (max-width: 574px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_640.webp 640w" type="image/webp" sizes="95vw">
                <source media="(min-width: 320px) and (max-width: 574px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_640.jpeg 640w" type="image/jpeg" sizes="95vw">
                <source media="(min-width: 575px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_768.avif 768w" type="image/avif" sizes="95vw">
                <source media="(min-width: 575px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_768.webp 768w" type="image/webp" sizes="95vw">
                <source media="(min-width: 575px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_768.jpeg 768w" type="image/jpeg" sizes="95vw">
                
                <source media="(min-width: 768px) and (max-width: 991px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_320.avif 320w" type="image/avif" sizes="17vw">
                <source media="(min-width: 768px) and (max-width: 991px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_320.webp 320w" type="image/webp" sizes="17vw">
                <source media="(min-width: 768px) and (max-width: 991px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_320.jpeg 320w" type="image/jpeg" sizes="17vw">
                <source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_320.avif 320w" type="image/avif" sizes="17vw">
                <source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_320.webp 320w" type="image/webp" sizes="17vw">
                <source media="(min-width: 992px) and (max-width: 1199px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_320.jpeg 320w" type="image/jpeg" sizes="17vw">
                <source media="(min-width: 1200px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_320.avif 320w" type="image/avif" sizes="17vw">
                <source media="(min-width: 1200px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_320.webp 320w" type="image/webp" sizes="17vw">
                <source media="(min-width: 1200px)" srcset="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_320.jpeg 320w" type="image/jpeg" sizes="17vw">
            
                <img src="https://tierheilpraxis-jessican.de/img/akupunktur_tmb_768.jpeg" alt="Tierheilpraktiker bei der Akupunktur am Hund in Langebrück" title="Akupunktur am Hund in Langebrück" loading="lazy" sizes="17vw" class="card-img-top" style="aspect-ratio: 1/1; object-fit: cover;">
              </picture>
              <div class="card-body">
                <h3 class="card-title">Traditionell Chinesische Veterinärmedizin</h3>
                <p class="card-text">
                  Die heilende Kraft der TCVM verbindet traditionelle und moderne Ansätze. Die klassische <strong>Akupunktur</strong> löst Energieblockaden und harmonisiert den Energiefluss im Körper, während die moderne <strong>Laserakupunktur</strong> eine schonende Alternative bietet. Beide Methoden unterstützen die natürliche Selbstheilungskraft Ihres Tieres.
                </p>
              </div>
          </div>
          </div>
        </div>
      <div class="text-center mt-3">
        <a href="https://tierheilpraxis-jessican.de/behandlung/behandlungsmethoden/" class="btn btn-primary" title="Behandlungsmethoden">Übersicht all meiner Behandlungsmethoden</a>
      </div>
      </section>
      <section class="mt-5 p-4 bg-light">
        <div class="row">
          <div class="col-12 text-center">
            <h2>Neugierig geworden?</h2>
            <p>
              Lassen Sie uns gemeinsam das Wohlbefinden von Ihnen und Ihren Tieren im Einklang mit der Natur fördern. Beginnen Sie den Weg zur Gesundheit und Harmonie, indem Sie mit mir in Kontakt treten.
            </p>
            <div class="d-flex justify-content-center align-items-center flex-column flex-sm-row">
              <a href="https://tierheilpraxis-jessican.de/behandlung/vorgehen/" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2" title="Meine Vorgehensweise">Meine Vorgehensweise</a>
              <a href="contact/" class="btn btn-success" title="Kontakt aufnehmen">Kontakt aufnehmen</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12 mx-auto">
      <section class="mt-5 p-4 rounded" >
        <div class="row">
          <div class="col-12 text-center">
            <h2>Mein Tierheilpraktiker Blog für Naturheilkunde, Hund und Pferd</h2>
            <p>In meinem Blog teile ich spannende Artikel und Neuigkeiten rund um die <em>Tierheilkunde</em>, innovative <em>Therapieverfahren</em>, sowie meine Erfahrungen als <em>Tierheilpraktiker</em>. Sie erhalten außerdem praktische Tipps für ein gesundes Zusammenleben mit Ihren Hunden und Pferden. Klicken Sie unten, um alle Beiträge zu entdecken und gemeinsam mit mir in die faszinierende Welt der Tierheilkunde einzutauchen.</p>
          </div>
        </div>
        <div class="row mt-4 justify-content-center">
          <div class="col-md-8">
            <div class="card">
              <picture>
                <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_320.avif 320w" type="image/avif" sizes="80vw">
                <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_320.webp 320w" type="image/webp" sizes="80vw">
                <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_320.jpeg 320w" type="image/jpeg" sizes="80vw">
                <source media="(min-width: 320px) and (max-width: 574px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_640.avif 640w" type="image/avif"  sizes="80vw">
                <source media="(min-width: 320px) and (max-width: 574px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_640.webp 640w" type="image/webp"  sizes="80vw">
                <source media="(min-width: 320px) and (max-width: 574px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_640.jpeg 640w" type="image/jpeg"  sizes="80vw">
                <source media="(min-width: 575px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_768.avif 768w" type="image/avif"  sizes="80vw">
                <source media="(min-width: 575px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_768.webp 768w" type="image/webp"  sizes="80vw">
                <source media="(min-width: 575px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_768.jpeg 768w" type="image/jpeg"  sizes="80vw">

                <source media="(min-width: 768px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_1024.avif 1024w" type="image/avif" sizes="80vw">
                <source media="(min-width: 768px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_1024.webp 1024w" type="image/webp" sizes="80vw">
                <source media="(min-width: 768px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_1024.jpeg 1024w" type="image/jpeg" sizes="80vw">
                <source media="(min-width: 1024px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_1366.avif 1366w" type="image/avif" sizes="60vw">
                <source media="(min-width: 1024px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_1366.webp 1366w" type="image/webp" sizes="60vw">
                <source media="(min-width: 1024px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_1366.jpeg 1366w" type="image/jpeg" sizes="60vw">
                <source media="(min-width: 1366px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_1600.avif 1600w" type="image/avif" sizes="60vw">
                <source media="(min-width: 1366px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_1600.webp 1600w" type="image/webp" sizes="60vw">
                <source media="(min-width: 1366px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_1600.jpeg 1600w" type="image/jpeg" sizes="60vw">
                <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_1920.avif 1920w" type="image/avif" sizes="60vw">
                <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_1920.webp 1920w" type="image/webp" sizes="60vw">
                <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/home-bg-2_1920.jpeg 1920w" type="image/jpeg" sizes="60vw">
                <img src="https://tierheilpraxis-jessican.de/img/home-bg-2_1920.jpeg" alt="Tierheilpraktiker Blog" title="Tierheilpraktiker Blog" loading="lazy"  class="card-img-top" style="aspect-ratio: 16/9; object-fit: cover;">
              </picture>
            </div>
          </div>
        </div>
      
        <div class="text-center mt-4">
          <a href="pages/blog/" class="btn btn-info" title="Tierheilpraktiker Blog">Alle Blogbeiträge anzeigen</a>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock content %}

{% block extrascripts %}
  <!-- Custom Script to open modal on page load -->  
  <script defer src="{{ get_url(path='js/modal.js') }}"></script>
{% endblock extrasripts %}