{% extends "template.html" %}

<head>
  {% block analytics %}
  <script data-goatcounter="https://jessican.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  {% endblock analytics %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ get_url(path="css/bootstrap.min.css") }}">
  <!-- Custom fonts for this template -->
  <link href=" {{ get_url(path="css/all.min.css") }}" rel=" stylesheet" type="text/css">
  

  <link rel="stylesheet" href="{{ get_url(path="css/local-fonts.css") }}" type="text/css">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ get_url(path="clean-blog.css", trailing_slash=false) }}">
  <style>
    .navbar-light .navbar-nav .nav-link {
      color: #000; /* Ändern Sie die Farbe hier, z.B. auf Schwarz */
    }
  
    .navbar-light .navbar-nav .nav-link:hover {
      color: #333; /* Ändern Sie die Farbe für den Hover-Effekt, z.B. auf ein dunkleres Grau */
    }
  </style>
  
</head>

{% block content %}
  <!-- Main Content -->
  <section class="container py-5">
    <div class="row">
      <div class="col-lg-6">
        <h1>Herzlich willkommen!</h1>
        <p>
          Mein Name ist Jessi, und ich bin eine leidenschaftliche Tierheilpraktikerin. Mit meinem ganzheitlichen Ansatz unterstütze ich Menschen und ihre Tiere dabei, gemeinsam gesundheitliche Herausforderungen zu bewältigen und ein harmonisches Zusammenleben zu fördern.
        </p>
        <a href="about" class="btn btn-primary">Mehr über mich</a>
      </div>
      <div class="col-lg-6">
        <img src="img/welcome.jpg" alt="Jessi mit ihrem Pferd Gino" class="img-fluid" />
      </div>
    </div>
  </section>

  <section class="container py-5 bg-light">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Leistungsübersicht</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 text-center py-3">
        <img src="img/naturheilkunde.jpg" alt="Naturheilkunde" class="img-fluid" />
        <h3>Naturheilkunde</h3>
        <p>Ganzheitliche Behandlungsmethoden für das Wohlbefinden von Mensch und Tier.</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center py-3">
        <img src="img/phytotherapie.jpg" alt="Phytotherapie" class="img-fluid" />
        <h3>Phytotherapie</h3>
        <p>Heilung und Linderung durch die Kraft der Pflanzen.</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center py-3">
        <img src="img/aromatherapie.jpg" alt="Aromatherapie" class="img-fluid" />
        <h3>Aromatherapie</h3>
        <p>Wohltuende Düfte und ätherische Öle zur Unterstützung der Gesundheit.</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center py-3">
        <img src="img/alternative-methoden.jpg" alt="Alternative Methoden" class="img-fluid" />
        <h3>Alternative Methoden</h3>
        <p>Individuelle Therapieansätze für die besonderen Bedürfnisse Ihrer Tiere.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a href="behandlung" class="btn btn-primary">Mehr über meine Leistungen</a>
      </div>
    </div>
  </section>


  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <section class="p-4 rounded">
          <p >
            Mein Name ist Jessi, und ich bin eine leidenschaftliche Tierheilpraktikerin. Mit meinem ganzheitlichen Ansatz unterstütze ich Menschen und ihre Tiere dabei, gemeinsam gesundheitliche Herausforderungen zu bewältigen und ein harmonisches Zusammenleben zu fördern.
          </p>
          <div class="text-center mt-3">
            <a href="about" class="btn btn-primary mb-5">Mehr über mich</a>
          </div>
        </section>
        <section class="bg-light mt-5 p-4 rounded">
          <div class="row">
            <div class="col-12 text-center">
              <h2>Leistungsübersicht</h2>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6">
              <h3>Naturheilkunde</h3>
              <p>Ganzheitliche Behandlungsmethoden für das Wohlbefinden von Mensch und Tier.</p>
            </div>
            <div class="col-sm-6">
              <h3>Phytotherapie</h3>
              <p>Heilung und Linderung durch die Kraft der Pflanzen.</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6">
              <h3>Aromatherapie</h3>
              <p>Wohltuende Düfte und ätherische Öle zur Unterstützung der Gesundheit.</p>
            </div>
            <div class="col-sm-6">
              <h3>Alternative Methoden</h3>
              <p>Individuelle Therapieansätze für die besonderen Bedürfnisse Ihrer Tiere.</p>
            </div>
          </div>
          <div class="text-center mt-3">
            <a href="behandlung" class="btn btn-primary">Mehr über meine Leistungen</a>
          </div>
        </section>

        <section class="mt-5 p-4 rounded">
          <div class="row">
            <div class="col-12 text-center">
              <h2>Interesse geweckt?</h2>
              <p>
                Lassen Sie uns gemeinsam daran arbeiten, das Wohlbefinden von Mensch und Tier im Einklang mit der Natur zu fördern. Füllen Sie den passenden Anamnesebogen aus und treten Sie mit mir in Kontakt!
              </p>
              <div class="d-inline-flex">
                <a href="vorgehen" class="btn btn-primary mr-2">Anamnesebogen ausfüllen</a>
                <a href="kontakt" class="btn btn-secondary">Kontakt aufnehmen</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock content %}
