{% extends "template.html" %}

<head>
  {% block analytics %}
  <script data-goatcounter="https://jessican.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  {% endblock analytics %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ get_url(path="css/bootstrap.min.css") }}">
  <!-- Custom fonts for this template -->
  <link href=" {{ get_url(path="css/all.min.css") }}" rel=" stylesheet" type="text/css">
  

  <link rel="stylesheet" href="{{ get_url(path="css/local-fonts.css") }}" type="text/css">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ get_url(path="clean-blog.css", trailing_slash=false) }}">
  <style>
    .navbar-light .navbar-nav .nav-link {
      color: #000; /* Ändern Sie die Farbe hier, z.B. auf Schwarz */
    }
  
    .navbar-light .navbar-nav .nav-link:hover {
      color: #333; /* Ändern Sie die Farbe für den Hover-Effekt, z.B. auf ein dunkleres Grau */
    }
  </style>
  
</head>

{% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <section class="p-4 rounded">
          <p >
            Mein Name ist Jessi, und ich bin eine leidenschaftliche Tierheilpraktikerin, spezialisiert auf Pferde und Hunde. Mit meinem ganzheitlichen Ansatz unterstütze ich Tierbesitzer dabei, gemeinsam mit ihren Tieren gesundheitliche Herausforderungen zu bewältigen und ein harmonisches Zusammenleben zu fördern. Als engagierte Tierheilpraktikerin biete ich individuelle Behandlungspläne, die auf die Bedürfnisse jedes Tieres abgestimmt sind. Entdecken Sie die Möglichkeiten einer natürlichen und ganzheitlichen Tierheilkunde für Ihre vierbeinigen Freunde. </p>
          <div class="text-center mt-3">
            <a href="about" class="btn btn-primary mb-5">Mehr über mich</a>
          </div>
        </section>
        </div>
        <div class="col-lg-12 col-md-12 mx-auto">
        <section id="gallery">
          <div class="row">
            <div class="col-12 text-center">
              <h2>Leistungsübersicht</h2>
            </div>
          </div>
          <div class="container">
            <div class="row">
            <div class="col-lg-4 mb-4">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Naturheilkunde</h5>
                <p class="card-text">Entdecken Sie die Kraft der Heilung durch natürliche Therapieansätze, die Körper und Geist Ihres Pferdes oder Hundes in Einklang bringen.</p>
              </div>
            </div>
            </div>
          <div class="col-lg-4 mb-4">
          <div class="card">
              <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Manuelle Therapie</h5>
                <p class="card-text">Erfahren Sie die wohltuende Wirkung gezielter Handgriffe, die Verspannungen lösen und die Beweglichkeit fördern.</p>
              </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
            <div class="card">
              <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Traditionell Chinesische Veterinärmedizin</h5>
                <p class="card-text">Die heilende Kraft der modernen TCVM, von Akupunktur und Lasertherapie bis hin zu individuell angepassten Ernährungsplänen.</p>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <a href="behandlung/#uberblick-der-behandlungsmethoden" class="btn btn-primary">Mehr über meine Behandlungsmethoden</a>
        </div>
        </section>

        <section class="mt-5 p-4 rounded">
          <div class="row">
            <div class="col-12 text-center">
              <h2>Interesse geweckt?</h2>
              <p>
                Lassen Sie uns gemeinsam daran arbeiten, das Wohlbefinden von Mensch und Tier im Einklang mit der Natur zu fördern. Füllen Sie den passenden Anamnesebogen aus und treten Sie mit mir in Kontakt!
              </p>
              <div class="d-inline-flex">
                <a href="behandlung/#vorgehensweise" class="btn btn-primary mr-2">Meine Vorgehensweise</a>
                <a href="contact" class="btn btn-success">Kontakt aufnehmen</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock content %}
