{% extends "template.html" %}
{% block title %}Meine Kurse - {{ config.title }}{% endblock title %}
{% block description %}
<meta name="description" content="Kurse als Tierheilpraktiker, Akupunktur, Akupressur, Aromatherapie & Ernährungsberatung für Hund & Pferd">
{% endblock description %}
{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/kurse/kurse_bg.jpeg")}}')">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Entdecke Kurse für Tiergesundheit</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<hr class="featurette-divider">
 <!-- Einleitungstext -->
<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-12">
      <!--<h2 class="featurette-heading">Kurse für ein harmonisches Zusammenleben</h2> -->
      <p class="lead">Tierheilpraxis ist eine Kunst, die weit über die Symptomlinderung hinausgeht. Sie zielt darauf ab, Gleichgewicht und Harmonie zwischen Ihnen und Ihrem Tier zu schaffen. Meine Kurse zeigen Ihnen, wie Sie Ihre vierbeinigen Freunde im Alltag unterstützen und ihnen Wohlbefinden schenken können.</p> 
      <p>Aus eigener Erfahrung weiß ich, dass zwischen dem Wissen aus Büchern und der realen Anwendung an unseren geliebten Tieren oft eine große Lücke klafft. Deshalb fokussieren sich meine Kurse nicht nur auf die Grundlagen, sondern stellen auch einen direkten Bezug zu den körperlichen und geistigen Besonderheiten der Tiere her. Wir betrachten anwendungsnahe Szenarien und setzen das Gelernte in praktische Übungen direkt am Tier um.</p>
      <p>Beginnen wir gemeinsam die Reise in die faszinierende Welt der Tiergesundheit.</p>
    </div>
  </div>
  <div class="row featurette">
    <h2 style="text-align:center;">Anstehende Veranstaltungen</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Datum</th>
          <th scope="col">Kurs</th>
          <th scope="col">Ort</th>
          <th scope="col">Status</th> <!-- In Planung, Warteliste, Belegt/Voll, Abgesagt, Anmeldung offen-->
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">11.05.2024</th>
          <td><a href="https://tierheilpraxis-jessican.de/kurse/akupressur_kurs_pferde/" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" title="Akupressur für Pferde in Pulsnitz">Akupressur für Pferde</a></td>

          <td>Pulsnitz</td>
          <!--<td><a href="https://tierheilpraxis-jessican.de/contact/?betreff=Kurs%20Akupressur%20f%C3%BCr%20Pferde%20am%2011.%20Mai%202024&nachricht=Liebe%20Jessi%20von%20JessICan%2C%0Aich%20bin%20sehr%20interessiert%20an%20Ihrem%20Kurs%20%22Akupressur%20f%C3%BCr%20Pferde%22%20am%2011.%20Mai%202024%20und%20m%C3%B6chte%20mich%20gerne%20daf%C3%BCr%20anmelden.%20Es%20w%C3%A4re%20gro%C3%9Fartig%2C%20wenn%20im%20Kurs%20das%20Thema%20%28bei%20Bedarf%20gern%20ein%20Thema%20Ihrer%20Wahl%2C%20z.B.%20Atemwegserkrankungen%20oder%20Hufrehe%2C%20angeben%29%20behandelt%20werden%20k%C3%B6nnte.%0AMit%20besten%20Gr%C3%BC%C3%9Fen#kontaktformular" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" title="Anmelden">Jetzt hier anmelden</a>
          -->
          <td><a href="https://tierheilpraxis-jessican.de/contact/?betreff=Warteliste%20-%20Kurs%20Akupressur%20f%C3%BCr%20Pferde%20am%2011.%20Mai%202024&nachricht=Liebe%20Jessi%20von%20JessICan%2C%0AIch%20habe%20gro%C3%9Fes%20Interesse%20an%20dem%20Kurs%20%22Akupressur%20f%C3%BCr%20Pferde%22%20am%2011.%20Mai%202024.%20Bitte%20setzen%20Sie%20mich%20auf%20die%20Warteliste.%20Sollte%20ein%20Platz%20frei%20werden%2C%20w%C3%BCrde%20ich%20gerne%20kontaktiert%20werden.%20Au%C3%9Ferdem%20bitte%20ich%20darum%2C%20benachrichtigt%20zu%20werden%2C%20wenn%20ein%20neuer%20Kurs%20zum%20Thema%20%27Akupressur%20f%C3%BCr%20Pferde%27%20geplant%20wird.%20Vielen%20Dank%20f%C3%BCr%20Ihre%20Bem%C3%BChungen.%0AMit%20freundlichen%20Gr%C3%BC%C3%9Fen#kontaktformular" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" title="Auf Warteliste setzen">Auf Warteliste setzen</a>
          </td>
        </tr>
        <tr>
          <th scope="row">15.06.2024</th>
          <td><a href="https://tierheilpraxis-jessican.de/kurse/akupressur_kurs_pferde/" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" title="Akupressur für Pferde in Friedersdorf bei Pulsnitz">Akupressur für Pferde</a></td>

          <td>Pulsnitz</td>
          <!--<td><a href="https://tierheilpraxis-jessican.de/contact/?betreff=Kurs%20Akupressur%20f%C3%BCr%20Pferde%20am%2011.%20Mai%202024&nachricht=Liebe%20Jessi%20von%20JessICan%2C%0Aich%20bin%20sehr%20interessiert%20an%20Ihrem%20Kurs%20%22Akupressur%20f%C3%BCr%20Pferde%22%20am%2011.%20Mai%202024%20und%20m%C3%B6chte%20mich%20gerne%20daf%C3%BCr%20anmelden.%20Es%20w%C3%A4re%20gro%C3%9Fartig%2C%20wenn%20im%20Kurs%20das%20Thema%20%28bei%20Bedarf%20gern%20ein%20Thema%20Ihrer%20Wahl%2C%20z.B.%20Atemwegserkrankungen%20oder%20Hufrehe%2C%20angeben%29%20behandelt%20werden%20k%C3%B6nnte.%0AMit%20besten%20Gr%C3%BC%C3%9Fen#kontaktformular" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" title="Anmelden">Jetzt hier anmelden</a>
          -->
          <td><a href="https://tierheilpraxis-jessican.de/contact/?betreff=Warteliste%20-%20Kurs%20Akupressur%20f%C3%BCr%20Pferde%20am%2015.%20Juni%202024&nachricht=Liebe%20Jessi%20von%20JessICan%2C%0AIch%20habe%20gro%C3%9Fes%20Interesse%20an%20dem%20Kurs%20%22Akupressur%20f%C3%BCr%20Pferde%22%20am%2015.%20Juni%202024.%20Bitte%20setzen%20Sie%20mich%20auf%20die%20Warteliste.%20Sollte%20ein%20Platz%20frei%20werden%2C%20w%C3%BCrde%20ich%20gerne%20kontaktiert%20werden.%20Au%C3%9Ferdem%20bitte%20ich%20darum%2C%20benachrichtigt%20zu%20werden%2C%20wenn%20ein%20neuer%20Kurs%20zum%20Thema%20%27Akupressur%20f%C3%BCr%20Pferde%27%20geplant%20wird.%20Vielen%20Dank%20f%C3%BCr%20Ihre%20Bem%C3%BChungen.%0AMit%20freundlichen%20Gr%C3%BC%C3%9Fen#kontaktformular" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" title="Auf Warteliste setzen">Auf Warteliste setzen</a>
          </td>
        </tr>
      </tbody>
    </table>
    <p>Zusätzlich biete ich individuell abgestimmte Kursformate für Vereine und Stallgemeinschaften an. In der gewohnten Umgebung der Tiere können wir ein optimales Lernumfeld schaffen, das den Tieren Sicherheit bietet und die Umsetzung des Gelernten direkt im vertrauten Umfeld ermöglicht.</p>
  </div>
</div>

<hr class="featurette-divider">
<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <section id="gallery">
        <div class="row">
          <div class="col-12 text-center">
            <h2>Kursübersicht</h2>
          </div>
        </div>
        <div class="row" style="display: flex; justify-content:center;flex-wrap:wrap;">
          <div class="col-lg-4 mb-4">
            <div class="card h-100">
              <picture>
                <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_320.avif 320w" type="image/avif" sizes="95vw">
                <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_320.webp 320w" type="image/webp" sizes="95vw">
                <source media="(max-width: 319px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_320.jpeg 320w" type="image/jpeg" sizes="95vw">
                <source media="(min-width: 320px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_640.avif 640w" type="image/avif" sizes="95vw">
                <source media="(min-width: 320px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_640.webp 640w" type="image/webp" sizes="95vw">
                <source media="(min-width: 320px) and (max-width: 639px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_640.jpeg 640w" type="image/jpeg" sizes="95vw">
                <source media="(min-width: 640px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_640.avif 768w" type="image/avif" sizes="95vw">
                <source media="(min-width: 640px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_768.webp 768w" type="image/webp" sizes="95vw">
                <source media="(min-width: 640px) and (max-width: 767px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_768.jpeg 768w" type="image/jpeg" sizes="95vw">
                <source media="(min-width: 768px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_768.avif 768w" type="image/avif" sizes="95vw">
                <source media="(min-width: 768px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_768.webp 768w" type="image/webp" sizes="95vw">
                <source media="(min-width: 768px) and (max-width: 1023px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_768.jpeg 768w" type="image/jpeg" sizes="95vw">
                <source media="(min-width: 1024px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_768.avif 768w" type="image/avif" sizes="17vw">
                <source media="(min-width: 1024px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_768.webp 768w" type="image/webp" sizes="17vw">
                <source media="(min-width: 1024px) and (max-width: 1365px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_768.jpeg 768w" type="image/jpeg" sizes="17vw">
                <source media="(min-width: 1366px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_768.avif 768w" type="image/avif" sizes="17vw">
                <source media="(min-width: 1366px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_768.webp 768w" type="image/webp" sizes="17vw">
                <source media="(min-width: 1366px) and (max-width: 1599px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_768.jpeg 768w" type="image/jpeg" sizes="17vw">
                <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_768.avif 768w" type="image/avif" sizes="17vw">
                <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_768.webp 768w" type="image/webp" sizes="17vw">
                <source media="(min-width: 1600px)" srcset="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_768.jpeg 768w" type="image/jpeg" sizes="17vw">
                <img src="https://tierheilpraxis-jessican.de/img/kurse/akupressur_kurs_pferde_1600.jpeg" alt="Akupressur für Pferd Region Dresden" title="Akupressur für Pferd Region Dresden" loading="lazy" sizes="100vw" class="card-img-top" style="aspect-ratio: 1/1; object-fit: cover;">
               </picture>           
              <div class="card-body">
                <h3 class="card-title">Akupressur für Pferde</h3>
                <p class="card-text">
                  Erlernen Sie, wie Sie durch gezielte Berührungen die Gesundheit und das Wohlbefinden Ihres Pferdes unterstützen können.
                </p>
                <div class="text-center mt-3">
                  <a href="akupressur_kurs_pferde" class="btn btn-primary" title="Kurs Akupressur Pferde">Mehr erfahren</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!--
<section id="gallery">
  <div class="container">
    <h3 style="text-align:center;">Kursübersicht</h3>
    <div class="row" style="display: flex; justify-content:center;flex-wrap:wrap;">
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="/img/kurse/akupressur_kurs.jpg" alt="" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title">Akupressur für Pferde</h4>
        <p class="card-text">Erlernen Sie, wie Sie durch gezielte Berührungen die Gesundheit und das Wohlbefinden Ihres Pferdes unterstützen können. Zusätzlich zu einer fundierte Einführung in die Grundlagen der Akupressur bietet dieser Kurs Ihnen praxisnahe Techniken, mit denen Sie die Selbstheilungskräfte Ihres Pferdes sanft fördern können.</p>
        <div class="text-center mt-3">
          <a href="akupressur_kurs" class="btn btn-primary" title="Behandlungsmethoden">Mehr erfahren</a>
        </div>
      </div>
     </div>
    </div>
    
  <div class="col-lg-4 mb-4">
  <div class="card">
      <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sunset</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
       <div class="text-center mt-3">
        <a href="https://tierheilpraxis-jessican.de/behandlung/behandlungsmethoden/" class="btn btn-primary" title="Behandlungsmethoden">mehr erfahren</a>
      </div>
      </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card">
          <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Sunset</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
           <div class="text-center mt-3">
            <a href="https://tierheilpraxis-jessican.de/behandlung/behandlungsmethoden/" class="btn btn-primary" title="Behandlungsmethoden">mehr erfahren</a>
          </div>
          </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
              <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Sunset</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
               <div class="text-center mt-3">
                <a href="https://tierheilpraxis-jessican.de/behandlung/behandlungsmethoden/" class="btn btn-primary" title="Behandlungsmethoden">mehr erfahren</a>
              </div>
              </div>
              </div>
            </div>
    
  </div>
  -->
</div>
      

{% endblock content %}