{% extends "template.html" %}
{% block description %}
    <meta name="description" content="Blogartikel '+{{ post_macros::page_up_title(page=page) }}+' von Tierheilpraktiker JessICan - natürlich gesund!">
{% endblock description %}
{% block headextras %}
<link rel="stylesheet" type="text/css" href="{{ get_url(path="/shariff-3.2.1/shariff.min.css")}}">
<script type="text/javascript" src="{{ get_url(path="/shariff-3.2.1/shariff.complete.js")}}" defer></script>
{% endblock headextras %}
{% block title %}{{ post_macros::page_up_title(page=page) }}{% endblock title %}


{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/post-bg_large.jpeg")}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="post-heading">
          {{ post_macros::page_header(page=page) }}
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        {{ page.content | safe }}
        <hr style="border-color: green">
        <strong>“Auch ein langer Weg beginnt mit dem ersten Schritt.”</strong>
        <br>
        Eure Jessi von JessICan-natürlich!      

        <div class="shariff" data-services='["facebook", "twitter", "whatsapp"]'></div>
        {% if page.taxonomies.tags %}
        <div class="post-tags">
          <p>Tags:
            {% for tag in page.taxonomies.tags %}
            <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" title="Tag">#{{ tag }}</a>
            {% endfor %}
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</article>
{% endblock content %}