{% extends "template.html" %}

{% block title %}Preise - {{ config.title }}{% endblock title %}
{% block description %}
    <meta name="description" content="Preise von Tierheilpraktiker JessICan: Akupunktur, Homöopathie, Phytotherapie, Manuelle Therapie, Aromatherapie & Ernährungsberatung für Hunde & Pferde">
{% endblock description %}
{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/about-bg.jpg")}}')">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Preisübersicht für meine Behandlungen</h1>
          <span class="subheading"></span>
          
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="lead">Hier finden Sie die Preisinformationen für die verschiedenen Behandlungen und Dienstleistungen, die wir anbieten.</p>
      </div>

      <div class="container">
        <div class="card-deck mb-3 text-center">
          <!-- Erstkonsultation -->
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h3 class="my-0 font-weight-normal">Erstkonsultation</h3>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">90,00 € <small class="text-muted">zzgl. Fahrtkosten</small></h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li>beinhaltet Anamnese</li>
                <li>und Erstbehandlung</li>
              </ul>
            </div>
          </div>
          <!-- Nachbehandlung -->
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h3 class="my-0 font-weight-normal">Nachbehandlung</h3>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">70,00 € <small class="text-muted">zzgl. Fahrtkosten</small></h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Inkl. individuellem Therapieplan</li>
                <li>Inkl. Zweitbehandlung </li>
              </ul>
            </div>
          </div>
          <!-- Weitere Besuche oder Anpassungen -->
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h3 class="my-0 font-weight-normal">Weitere Besuche</h3>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">50,00 € <small class="text-muted">pro Stunde</small></h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li>z.B. Kontrolluntersuchung</li>
                <li>Anpassung Therapieplan</li>
              </ul>
            </div>
          </div>
        </div>
        <p>Die Fahrtkosten betragen 0,50 € pro angefangenem Kilometer. Ich berechne die Entfernung anhand der schnellsten Route laut Google Maps Navigationssystem.</p>
        <p>Die Erstkonsultation und Nachbehandlung gehören in der Regel zusammen und werden gemeinsam abgerechnet, es sei denn es gibt einen Grund, die Therapie nach der Erstkonsultation zu beenden.</p>
        <p>Ich bitte Sie, den Betrag in bar zu entrichten.</p>
        <p>Aufgrund des Kleinunternehmerstatus gemäß § 19 UStG wird keine Umsatzsteuer erhoben, und diese ist daher auf Rechnungen nicht gesondert ausgewiesen. Rechnungsbeträge sind innerhalb von sieben Tagen per Überweisung zu begleichen.</p>
      </div>
    </div>
  </div>
</div>
<!-- More information -->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      <h2>Weitere Informationen</h2>
      <p>Als mobile <em>Tierheilpraktikerin</em> biete ich ausschließlich Hausbesuche an. Ich komme direkt zu Ihnen nach Hause, um Ihrem Tier in gewohnter Umgebung die bestmögliche Behandlung zu bieten. Mit meiner mobilen Praxis kann ich auf die individuellen Bedürfnisse Ihres Tieres eingehen und eine persönliche sowie stressfreie Atmosphäre schaffen.</p>
      <p>Für individuelle Anfragen oder spezielle Behandlungen erstelle ich Ihnen gerne ein maßgeschneidertes Angebot. Zögern Sie nicht, mich zu kontaktieren, um Ihre Bedürfnisse zu besprechen und gemeinsam die beste Lösung für Sie zu finden.</p>
      <p>Bei Fragen zu meinen Preisen oder Dienstleistungen stehe ich Ihnen jederzeit zur Verfügung. Sie können mich per Telefon oder über das Kontaktformular auf meiner Website erreichen. Ich freue mich darauf, Ihnen bei den gesundheitlichen Anliegen Ihres Tieres zu helfen und gemeinsam Therapieziele zu erreichen.</p>
      <p>Da ich ausschließlich Hausbesuche anbiete, bitte ich Sie, den Betrag in bar zu entrichten.</p>
    </div>
  </div>
</div>
{% endblock content %}