{% extends "template.html" %}

{% block title %}Preise - {{ config.title }}{% endblock title %}
{% block description %}
    <meta name="description" content="Preise von Tierheilpraktiker JessICan: Akupunktur, Homöopathie, Phytotherapie, Manuelle Therapie, Aromatherapie & Ernährungsberatung für Hund & Pferd">
{% endblock description %}
{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/about-bg_large.jpeg")}}')">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Preisübersicht für meine Behandlungen</h1>
          <span class="subheading"></span>
          
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="lead">Hier finden Sie die Preisinformationen für die verschiedenen Behandlungen und Dienstleistungen, die wir anbieten.</p>
      </div>

      <div class="container">
        <div class="card-deck mb-3 text-center">
          <!-- Erstkonsultation -->
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h3 class="my-0 font-weight-normal">Erstkonsultation</h3>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">90,00 € <small class="text-muted">zzgl. Fahrtkosten</small></h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li>beinhaltet Anamnese</li>
                <li>und Erstbehandlung</li>
              </ul>
            </div>
          </div>
          <!-- Nachbehandlung -->
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h3 class="my-0 font-weight-normal">Nachbehandlung</h3>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">70,00 € <small class="text-muted">zzgl. Fahrtkosten</small></h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Inkl. individuellem Therapieplan</li>
                <li>Inkl. Zweitbehandlung </li>
              </ul>
            </div>
          </div>
          <!-- Weitere Besuche oder Anpassungen -->
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h3 class="my-0 font-weight-normal">Weitere Besuche</h3>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">50,00 € <small class="text-muted">pro Stunde</small></h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li>z.B. Kontrolluntersuchung</li>
                <li>Anpassung Therapieplan</li>
              </ul>
            </div>
          </div>
        </div>
        <p>Die Fahrtkosten betragen 0,50 € pro angefangenem Kilometer. Ich berechne die Entfernung anhand der schnellsten Route laut Google Maps Navigationssystem.</p>
        <p>Die Erstkonsultation und Nachbehandlung gehören in der Regel zusammen und werden gemeinsam abgerechnet, es sei denn es gibt einen Grund, die Therapie nach der Erstkonsultation zu beenden.</p>
        <p>Ich bitte Sie, den Betrag in bar zu entrichten.</p>
        <p>Aufgrund des Kleinunternehmerstatus gemäß § 19 UStG wird keine Umsatzsteuer erhoben, und diese ist daher auf Rechnungen nicht gesondert ausgewiesen. Rechnungsbeträge sind innerhalb von sieben Tagen per Überweisung zu begleichen.</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      <h2>Häufig gestellte Fragen</h2>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Haben Sie auch eine Praxis, die ich aufsuchen kann?
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Als mobiler <em>Tierheilpraktiker</em> biete ich ausschließlich Hausbesuche an. Ich komme direkt zu Ihnen nach Hause, um Ihrem Tier in gewohnter Umgebung die bestmögliche Behandlung zu bieten. Mit meiner mobilen Praxis kann ich auf die individuellen Bedürfnisse Ihres Tieres eingehen und eine persönliche sowie stressfreie Atmosphäre schaffen.
            </div>
          </div>
        </div>
        <!-- Weitere Fragen hier hinzufügen -->
      </div>
    </div>
  </div>
</div>


<!-- Zusatzleistungen-->
<div class="card">
  <div class="card-header" id="headingTwo">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Zusatzleistungen
      </button>
    </h5>
  </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
    <div class="card-body">
      <table class="table">
        <tr>
          <td>Repertorisieren (Zeitaufwand ca. 4 Stunden)</td>
          <td>5,00 €</td>
        </tr>
        <tr>
          <td>Bachblütenzusammenstellung</td>
          <td>5,00 €</td>
        </tr>
        <tr>
          <td>(Laser-)Akupunktur Folgebehandlung</td>
          <td>25,00 €</td>
        </tr>
      </table>
    </div>
  </div>
</div>

{% endblock content %}