{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">  
    {% block description %}
    <meta name="description" content="Tierheilpraktiker JessICan: Akupunktur, Homöopathie, Phytotherapie, Manuelle Therapie, ätherische Öle & Ernährungsberatung für Hunde & Pferde">
    {% endblock description %}
    {% block metatags %}
    <meta property="og:title" content="Tierheilpraktiker JessICan - natürlich gesund! Hund & Pferd">
    <meta property="og:description" content="Tierheilpraktiker JessICan: Akupunktur, Homöopathie, Phytotherapie, Manuelle Therapie, Aromatherapie & Ernährungsberatung für Hund & Pferd">
    <meta property="og:image" content="https://tierheilpraxis-jessican.de/img/home-bg.png">
    <meta property="og:url" content="https://tierheilpraxis-jessican.de">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="de_DE">
    <meta property="og:site_name" content="Tierheilpraxis JessICan">
    {% endblock metatags %}
    <meta name="keywords" content="Tierheilpraktiker, Tierheilpraxis, Hund, Pferd, Akupunktur, Laserakupunktur, Traditionell Chinesische Medizin, Homöopathie, Phytotherapie, Manuelle Therapie, Aromatherapie, Ernährungsberatung">
    <meta name="author" content="Jessi von JessICan">
    
    <meta name="handheldfriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="handheldfriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="google-site-verification" content="YX7kAks4UBGTJOeaJJAGj9WQ2CWRTOo3pQWF79swXco" />
    <meta name="msvalidate.01" content="67A95D8594D5928A2E6EDE658B543633" />
    {% block canonical %}
    <link rel="canonical" href="{{current_url | safe}}">
    {% endblock canonical %}

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link href="{{ get_url(path='css/all.min.css') }}" rel="stylesheet" media="print" onload="this.media='all';">
    <link rel="stylesheet" href="{{ get_url(path='css/bootstrap.min.css') }}" media="print" onload="this.media='all';">
    <link rel="stylesheet" href="{{ get_url(path='css/local-fonts.css') }}" media="print" onload="this.media='all';">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ get_url(path="clean-blog.css", trailing_slash=false) }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="favicons/apple-touch-icon.png") }}">
    <link rel="apple-touch-startup-image" href="{{ get_url(path="favicons/apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="favicons/favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="favicons/favicon-16x16.png") }}">
    <link rel="manifest" href="{{ get_url(path="favicons/site.webmanifest") }}">
    <link rel="mask-icon" href="{{ get_url(path="favicons/safari-pinned-tab.svg") }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!--Schema für das Business-->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "ProfessionalService",
        "name": "Tierheilpraxis JessICan - natürlich gesund!",
        "image": "{{ get_url(path="favicons/android-chrome-192x192.png") }}",
        "url": "{{ get_url(path="/") }}",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Wachauer Str. 6",
          "addressLocality": "Lichtenberg",
          "addressRegion": "SN",
          "postalCode": "01896",
          "addressCountry": "DE"
        },
        "email": "tierheilpraxis-jessican[at]gmx.de",
        "telephone": "+49 173 789 0040",
        "areaServed": "Lichtenberg und Umgebung",
        "serviceType": "Mobile Tierheilpraxis für Hunde und Pferde"
      }
    </script>
    {% block analytics %}
    <script data-goatcounter="https://jessican.goatcounter.com/count" async src="//gc.zgo.at/count.js" defer></script>
    {% endblock analytics %}
    {% block headextras %}
    {% endblock headextras %}
</head>

<body>
  {% block navigation %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ config.base_url }}">{{config.title}}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% for item in config.extra.clean_blog_menu %}
            {% if item.submenu %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                  href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}"
                  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  {{ item.name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for submenu_item in item.submenu %}
                    <a class="dropdown-item"
                      href="{{ submenu_item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                      {{ submenu_item.name }}
                    </a>
                  {% endfor %}
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link"
                  href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">{{ item.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock navigation %}


  <!-- Page Header -->
  {% block header %}
  <header class="masthead" style="background-image: url('{{ get_url(path="/img/home-bg.png")}}');background-size:100%">
    <div class="overlay">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{config.title}}</h1>
            <span class="subheading">&zwnj;</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endblock header %}

  {% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <p>Herzlich Willkommen im Template!</p>
      </div>
    </div>
  </div>
  {% endblock content %}

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            {% for item in config.extra.clean_blog_social %}
            <li class="list-inline-item">
              <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}" title="Start">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="{{ item.icon }} fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {% endfor %}
          </ul> 
          <div style="text-align: center;" >
            <p>
              <a href="{{ get_url(path="contact/", trailing_slash=true) }}" class="btn btn-info" title="Kontakt">Kontakt</a>
            </p>
            <p>
              Bei lebensbedrohlichen Notfällen wenden Sie sich bitte umgehend an einen Tierarzt oder eine Tierklinik.
            </p>
          </div>
          <div style="text-align: center;" >
            <a href="{{ get_url(path="/impressum/", trailing_slash=true) }}" title="Impressum">Impressum</a>
            <a href="{{ get_url(path="/datenschutz/", trailing_slash=true) }}" title="Datenschutz">Datenschutz</a></div>
          <p class="copyright text-muted">
            {% block copyright %}
              Copyright &copy; JessICan
              <span id="currentYear"></span>
            {% endblock copyright %}
          </p>
          <script>
            document.getElementById('currentYear').innerHTML = new Date().getFullYear();
          </script>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{ get_url(path='js/jquery.min.js') }}" defer></script>
  <script src="{{ get_url(path='js/bootstrap.bundle.min.js') }}" defer></script>

  <!-- Custom scripts for this template -->
  <script src="{{ get_url(path='js/clean-blog.min.js') }}" defer></script>


  <!--- Additional scripts -->
  {% block extrascripts %}
  {% endblock extrasripts %}
</body>

</html>
