{% extends "template.html" %}
{% block title %}Preisinformationen - {{ config.title }}{% endblock title %}

{% block description %}
    <meta name="description" content="Vorgehen von Tierheilpraktiker JessICan: Akupunktur, Homöopathie, Phytotherapie, Manuelle Therapie, Aromatherapie & Ernährungsberatung für Hund & Pferd">
{% endblock description %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/vorgehen_1024.jpeg")}}')">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Meine Preise</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      <hr class="featurette-divider">
      <!--<h2>Preisübersicht</h2>-->
      <p class="lead">Hier finden Sie die Preisinformationen für die verschiedenen Behandlungen und Dienstleistungen. Meine Preise orientieren sich am Gebührenverzeichnis der Kooperation deutscher Tierheilpraktiker-Verbände. Jedoch liegen sie bewusst darunter, da für mich die Gesundheit der Tiere im Vordergrund steht und ich möchte, dass diese für jeden Tierbesitzer bezahlbar bleibt. Transparenz ist mir sehr wichtig, daher finden Sie hier eine klare Übersicht der Kosten, die bei der Behandlung Ihres Tieres anfallen können.</p>
      <!-- Preisübersicht -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Service</th>
            <th scope="col">Preis</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h3 class="my-0 font-weight-normal">Anamnese & Erstkonsultation</h3>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Auswertung Anamnesebogen</li>
                <li>Untersuchung vor Ort</li>
                <li>Behandlung durch ausgewählte Methoden</li>
              </ul>
            </td>
            <td>
              <p>90,00 € <small class="text-muted">zzgl. Fahrtkosten</small></p>
            </td>
          </tr>
          <tr>
            <td>
              <h3 class="my-0 font-weight-normal">Nachbehandlung & Therapie</h3>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Behandlung durch ausgewählte Methoden</li>
                <li>Inkl. individuellem Therapieplan</li>
              </ul>
            </td>
            <td>
              <p>75,00 € <small class="text-muted">zzgl. Fahrtkosten</small></p>
            </td>
          </tr>
          <tr>
            <td>
              <h3 class="my-0 font-weight-normal">Weitere Besuche</h3>
              <ul class="list-unstyled mt-3 mb-4">
                <li>z.B. Folgebehandlungen</li>
                <li>Kontrolluntersuchung</li>
                <li>Anpassung Therapieplan</li>
              </ul>
            </td>
            <td>
              <p>50,00 € <small class="text-muted">pro Stunde</small></p>
            </td>
          </tr>
        </tbody>      
      </table>
      <p>Die Fahrtkosten belaufen sich auf 0,35 € für jeden angefangenen Kilometer. Die Entfernung berechne ich anhand der kürzesten Route, die mir das Google Maps Navigationssystem anzeigt. Normalerweise gehören die Erstkonsultation und die Nachbehandlung zusammen und werden zusammen in Rechnung gestellt, es sei denn, es besteht ein triftiger Grund, die Therapie nach der Erstkonsultation abzubrechen.</p>
      <p>Da ich den Kleinunternehmerstatus gemäß § 19 UStG inne habe, wird keine Umsatzsteuer erhoben und folglich nicht gesondert auf Rechnungen ausgewiesen. Die Zahlung von Rechnungsbeträgen erfolgt innerhalb von sieben Tagen per Überweisung.</p>
      <p>Weitere Informationen zu den Preisen und individuellen Angeboten erhalten Sie auf Anfrage.</p>
    </div>
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <h2>Zusätzliche Informationen</h2>
        <p>Als mobiler <em>Tierheilpraktiker</em> für <em>Hund</em> und <em>Pferd</em> biete ich Hausbesuche an, um Ihre Tiere in ihrer gewohnten Umgebung auf stressfreie und individuelle Weise zu behandeln. Bei speziellen Anfragen erstelle ich Ihnen gerne ein maßgeschneidertes Angebot. Für Preisauskünfte oder weitere Informationen können Sie mich telefonisch erreichen oder über das Kontaktformular auf meiner Website Kontakt aufnehmen.
      </div>
    </div>
  </div>
</div>
{% endblock content %}