{% extends "template.html" %}
{% block title %}Vorgehen - {{ config.title }}{% endblock title %}

{% block description %}
    <meta name="description" content="Vorgehen von Tierheilpraktiker JessICan: Akupunktur, Homöopathie, Phytotherapie, Manuelle Therapie, Aromatherapie & Ernährungsberatung für Hund & Pferd">
{% endblock description %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ get_url(path="/img/vorgehen_1024.jpeg")}}')">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>So gehe ich bei meinen Behandlungen vor!</h1>
          <span class="subheading"></span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      <hr class="featurette-divider">
      <h2 id=meine-vorgehensweise>Meine Vorgehensweise</h2>
      <p>Als Tierheilpraktikerin liegt es mir am Herzen, Tieren auf ganzheitliche Weise zu unterstützen und ihre Gesundheit zu verbessern. In meiner Praxis biete ich eine Vielzahl von Behandlungsmethoden an, die dazu beitragen, das Wohlergehen Ihrer liebsten vierbeinigen Freunde zu steigern.</p>
      <h3 id=1-anamnesebogen-ausfullen>1. Termin vereinbaren</h3>
      <p>Gemeinsamen vereinbaren wir einen passenden Termin. Dieser wird in der Regel vor Ort bei dem Tier statt finden. 
        Nach der Terminvergabe erhalten Sie von mir einen kleinen Annamnesebogen, sodass ich bereits das Symptomgeschehen einordnen kann, sowie den Behandlungsvertrag.</p>
      <h3 id=2-untersuchung-vor-ort>2. Untersuchung vor Ort</h3>
      <p>Bei dem vereinbarten Termin lerne ich Sie und Ihr Tier in seiner gewohnten Umgebung kennen. Während dieses Besuchs werde ich Ihr Tier genau beobachten und gegebenenfalls Rückfragen zu Ihrem Tier und Ihnen stellen. Zudem werde ich wichtige Aspekte vor Ort bewerten, wie zum Beispiel den Auslauf, das Futter und ähnliches. All diese Informationen helfen mir dabei, ein umfassendes Bild der Situation zu zeichnen.</p>
      <p>Tipp: Blutuntersuchungen, Röntgenbilder oder andere tierärztliche Befunde können mir zusätzliche wertvolle Informationen liefern!</p>
      <h3 id=3-behandlung>3. Behandlung</h3>
      <p>Auf Grundlage der Anamnese und der Untersuchung erstelle ich ein individuelles Behandlungskonzept für Ihr Tier. Die Entscheidung für die geeignete Therapie erfolgt in Absprache mit Ihnen direkt vor Ort, wobei abhängig von der Art der Erkrankung und der individuellen Situation ein spezifisches oder mehrere verschiedene Verfahren zur Anwendung kommen können.</p>
      <p>Je nach Schwere der Erkrankung und Klarheit der Diagnose, kann die Auswahl der Behandlungsmethode entweder direkt im Anschluss an die Untersuchung oder bei einem separaten Termin getroffen werden.</p>
      <p>Sollte die Situation unklar sein oder wichtige Befunde, wie zum Beispiel Laborergebnisse, noch ausstehen, behalte ich mir vor, einen weiteren Termin zu vereinbaren.</p>
      <h3 id=4-therapieplan>4. Therapieplan</h3>
      <p>Nach der Erstbehandlung erstelle ich einen individuellen Therapieplan, der speziell auf die Bedürfnisse Ihres Tieres zugeschnitten ist. Dieser Plan berücksichtigt verschiedene Faktoren, wie zum Beispiel Bewegungstraining, Ernährungsumstellung, Anwendung von Phytotherapie oder anderen geeigneten Methoden, um das Wohlbefinden Ihres Tieres zu verbessern.</p>
      <p>Der detaillierte Therapieplan wird Ihnen per E-Mail zugesandt. Im Preis inbegriffen ist die Möglichkeit, Rückfragen zum Plan zu stellen, sodass alle Ihre Fragen und Bedenken ausgeräumt werden können.</p>
      <h3 id=5-nachsorge-und-beratung>5. Nachsorge und Beratung</h3>
      <p>Eine erfolgreiche Behandlung erfordert eine angemessene Nachsorge. Um die langfristige Gesundheit Ihres Tieres zu gewährleisten, stehe ich Ihnen stets mit Rat und Tat zur Seite. Bei Fragen oder Unklarheiten zögern Sie nicht, mich zu kontaktieren. Eine Therapie ist oft ein fortlaufender Prozess, bei dem in den meisten Fällen eine einmalige Behandlung nicht ausreicht. Gerne besuche ich Ihr Tier erneut, und wir können bei Bedarf einen Folgetermin vereinbaren, um den Heilungsprozess optimal zu unterstützen.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      <h2>Kompaktpreise</h2>
      <p class="lead">Hier finden Sie die Preisinformationen für die verschiedenen Behandlungen und Dienstleistungen. Meine Behandlungspreise orientieren sich am Gebührenverzeichnis der Kooperation deutscher Tierheilpraktiker-Verbände.</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Service</th>
            <th scope="col">Preis</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h3 class="my-0 font-weight-normal">Anamnese & Erstkonsultation</h3>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Auswertung Anamnesebogen</li>
                <li>Untersuchung vor Ort</li>
                <li>Behandlung durch ausgewählte Methoden</li>
              </ul>
            </td>
            <td>
              <p>90,00 € <small class="text-muted">zzgl. Fahrtkosten</small></p>
            </td>
          </tr>
          <tr>
            <td>
              <h3 class="my-0 font-weight-normal">Nachbehandlung & Therapie</h3>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Behandlung durch ausgewählte Methoden</li>
                <li>Inkl. individuellem Therapieplan</li>
              </ul>
            </td>
            <td>
              <p>75,00 € <small class="text-muted">zzgl. Fahrtkosten</small></p>
            </td>
          </tr>
          <tr>
            <td>
              <h3 class="my-0 font-weight-normal">Weitere Besuche</h3>
              <ul class="list-unstyled mt-3 mb-4">
                <li>z.B. Folgebehandlungen</li>
                <li>Kontrolluntersuchung</li>
                <li>Anpassung Therapieplan</li>
              </ul>
            </td>
            <td>
              <p>50,00 € <small class="text-muted">pro Stunde</small></p>
            </td>
          </tr>
        </tbody>      
      </table>
      <p>Die Fahrtkosten belaufen sich auf 0,35 € für jeden angefangenen Kilometer. Die Entfernung berechne ich anhand der kürzesten Route, die mir das Google Maps Navigationssystem anzeigt. Normalerweise gehören die Erstkonsultation und die Nachbehandlung zusammen und werden zusammen in Rechnung gestellt, es sei denn, es besteht ein triftiger Grund, die Therapie nach der Erstkonsultation abzubrechen. Bitte entrichten Sie den fälligen Betrag in bar.</p>
      <p>Da ich den Kleinunternehmerstatus gemäß § 19 UStG inne habe, wird keine Umsatzsteuer erhoben und folglich nicht gesondert auf Rechnungen ausgewiesen. Die Zahlung von Rechnungsbeträgen erfolgt innerhalb von sieben Tagen per Überweisung.</p>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      <h2>Zusätzliche Informationen</h2>
      <p>Als mobiler <em>Tierheilpraktiker</em> biete ich Hausbesuche an, um Ihre Tiere in ihrer gewohnten Umgebung auf stressfreie und individuelle Weise zu behandeln. Bei speziellen Anfragen erstelle ich Ihnen gerne ein maßgeschneidertes Angebot. Für Preisauskünfte oder weitere Informationen können Sie mich telefonisch erreichen oder über das Kontaktformular auf meiner Website Kontakt aufnehmen.
    </div>
  </div>
</div>
{% endblock content %}